a,
button {
  font-family: 'Onest', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-text;
}

button {
  line-height: 1.6;
}

button:disabled,
button[disabled]{
  color: #fff;
  background-color: #959595;
  pointer-events: none;
}

.btn {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  color: $color-main;
  border: 1px solid $color-main;
  border-radius: $br-xxl;
  text-transform: uppercase;
}

.btn-lg {
  padding: 15px 45px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  border: 1px solid $color-main;
  border-radius: $br-xxl;
  text-transform: uppercase;
}

.btn-fill {
  color: $color-light;
  background-color: $color-main;
  border: none;
}

.slider-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  background-color: $color-secondary;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7071 10.2929L1.70709 0.292862C1.56723 0.153017 1.38905 0.0577853 1.19507 0.0192078C1.00109 -0.0193696 0.800023 0.000440337 0.6173 0.0761322C0.434577 0.151824 0.278403 0.279998 0.168525 0.444448C0.0586466 0.608897 -4.96765e-07 0.802236 0 1.00002V21C4.27744e-06 21.1978 0.0586534 21.3911 0.168532 21.5556C0.278411 21.72 0.434585 21.8482 0.617306 21.9239C0.800026 21.9996 1.00109 22.0194 1.19507 21.9808C1.38905 21.9422 1.56723 21.847 1.70709 21.7072L11.7071 11.7072C11.8 11.6143 11.8736 11.5041 11.9239 11.3827C11.9741 11.2614 12 11.1313 12 11C12 10.8687 11.9741 10.7386 11.9239 10.6173C11.8736 10.496 11.8 10.3857 11.7071 10.2929Z' fill='%2303A753'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 22px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $color-main;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7071 10.2929L1.70709 0.292862C1.56723 0.153017 1.38905 0.0577853 1.19507 0.0192078C1.00109 -0.0193696 0.800023 0.000440337 0.6173 0.0761322C0.434577 0.151824 0.278403 0.279998 0.168525 0.444448C0.0586466 0.608897 -4.96765e-07 0.802236 0 1.00002V21C4.27744e-06 21.1978 0.0586534 21.3911 0.168532 21.5556C0.278411 21.72 0.434585 21.8482 0.617306 21.9239C0.800026 21.9996 1.00109 22.0194 1.19507 21.9808C1.38905 21.9422 1.56723 21.847 1.70709 21.7072L11.7071 11.7072C11.8 11.6143 11.8736 11.5041 11.9239 11.3827C11.9741 11.2614 12 11.1313 12 11C12 10.8687 11.9741 10.7386 11.9239 10.6173C11.8736 10.496 11.8 10.3857 11.7071 10.2929Z' fill='%23ffffff'/%3E%3C/svg%3E");
  }

  &.prev-btn {
    transform: scaleX(-1)
  }
}

.card__btn {
  width: 100%;
  display: block;
  margin: 15px auto 0;
  padding: 14px 35px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: $color-light;
  background-color: $color-main;
  border-radius: $br-xxl;
}

.form-btn {
  width: 100%;
  padding: 19px 30px;
  border-radius: $br-xxl;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.12em;
  color: $color-light;
  background-color: #24383b;
}

.sidebar-btn {
  margin-top: 30px;
  padding: 18px 40px;
  font-weight: 400;
  font-size: 14px;
}

.show-more {
  width: 100%;
  padding: 15px 45px;
  font-size: 16px;
  letter-spacing: 0.16em;
  border-radius: $br-xxl;
  border: 1px solid $color-main;
  text-transform: uppercase;
  color: $color-main;
}

.btn-wish {
  padding: 10px 20px 10px 48px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.99384 2.68223C7.19442 0.50456 4.19377 -0.0812272 1.93923 1.91287C-0.31532 3.90696 -0.632729 7.24099 1.13778 9.59942C2.60984 11.5603 7.06479 15.6959 8.52489 17.0345C8.68824 17.1842 8.76992 17.2591 8.86519 17.2885C8.94834 17.3142 9.03933 17.3142 9.12248 17.2885C9.21775 17.2591 9.29943 17.1842 9.46278 17.0345C10.9229 15.6959 15.3778 11.5603 16.8499 9.59942C18.6204 7.24099 18.3417 3.88599 16.0484 1.91287C13.7551 -0.0602514 10.7933 0.50456 8.99384 2.68223Z' fill='%23FF4747'/%3E%3C/svg%3E");
  background-size: 18px 18px;
}

.btn-share {
  padding: 10px 20px 10px 46px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1268 0.00472444L15.2102 0L15.3126 0.00629913L15.3835 0.0188976L15.4803 0.0464567L15.5646 0.0826772L15.6433 0.127559L15.7142 0.180315L15.7787 0.23937L15.8197 0.285827L15.8842 0.377165L15.9252 0.452756C15.9622 0.531496 15.9858 0.61496 15.9961 0.701575L16 0.785039C16 0.844094 15.9937 0.902362 15.9811 0.958267L15.9535 1.05512L10.8102 15.289C10.7127 15.5012 10.5564 15.681 10.3597 15.8071C10.1631 15.9331 9.93436 16.0001 9.70078 16C9.49041 16.0007 9.28346 15.9468 9.10007 15.8438C8.91668 15.7407 8.76312 15.5919 8.65433 15.4118L8.60315 15.3118L5.96378 10.0346L0.711811 7.40787C0.517481 7.31899 0.349892 7.18065 0.225805 7.00668C0.101718 6.83271 0.0254834 6.62921 0.00472444 6.41653L0 6.29921C0 5.85827 0.237008 5.45512 0.662205 5.22047L0.772441 5.16535L14.959 0.0425196L15.0425 0.0188976L15.1268 0.00472444Z' fill='%2303A753'/%3E%3C/svg%3E");
  background-size: 16px 16px;
}

.btn-navy {
  font-weight: 400;
  font-size: 18px;
  color: $color-main;
  background: transparent;
  text-decoration: underline;
}

.catalog-btn {
  margin-left: auto;
}
