a,
button {
  font-family: 'Onest', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: $color-text;
  transition: all .3s ease-in-out;
}

button {
  line-height: 1.6;
}

button:disabled,
button[disabled]{
  color: #fff;
  background-color: #959595;
  border-color: #959595;
  pointer-events: none;
}

.btn {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: .05em;
  color: $color-main;
  border: 1px solid $color-main;
  border-radius: $br-btn;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    border-color: $color-main;
    background-color: $color-main;
  }
}

.btn-lg {
  padding: 15px 45px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  border: 1px solid $color-main;
  border-radius: $br-btn;
  text-transform: uppercase;
}

.btn-fill {
  color: $color-light;
  background-color: $color-main;

  &:hover {
    border-color: $color-btn-hover;
    background-color: $color-btn-hover;
  }
}

.btn-dark {
  color: $color-light;
  background-color: #24383b;
  border-color: #24383b;

  &:hover {
    background-color: #445f63;
    border-color: #445f63;
  }
}

.btn-light {
  color: #000;
  background-color: #fff;

  &:hover {
    
  }
}

.slider-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  background-color: $color-secondary;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7071 10.2929L1.70709 0.292862C1.56723 0.153017 1.38905 0.0577853 1.19507 0.0192078C1.00109 -0.0193696 0.800023 0.000440337 0.6173 0.0761322C0.434577 0.151824 0.278403 0.279998 0.168525 0.444448C0.0586466 0.608897 -4.96765e-07 0.802236 0 1.00002V21C4.27744e-06 21.1978 0.0586534 21.3911 0.168532 21.5556C0.278411 21.72 0.434585 21.8482 0.617306 21.9239C0.800026 21.9996 1.00109 22.0194 1.19507 21.9808C1.38905 21.9422 1.56723 21.847 1.70709 21.7072L11.7071 11.7072C11.8 11.6143 11.8736 11.5041 11.9239 11.3827C11.9741 11.2614 12 11.1313 12 11C12 10.8687 11.9741 10.7386 11.9239 10.6173C11.8736 10.496 11.8 10.3857 11.7071 10.2929Z' fill='%2303A753'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 22px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $color-main;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7071 10.2929L1.70709 0.292862C1.56723 0.153017 1.38905 0.0577853 1.19507 0.0192078C1.00109 -0.0193696 0.800023 0.000440337 0.6173 0.0761322C0.434577 0.151824 0.278403 0.279998 0.168525 0.444448C0.0586466 0.608897 -4.96765e-07 0.802236 0 1.00002V21C4.27744e-06 21.1978 0.0586534 21.3911 0.168532 21.5556C0.278411 21.72 0.434585 21.8482 0.617306 21.9239C0.800026 21.9996 1.00109 22.0194 1.19507 21.9808C1.38905 21.9422 1.56723 21.847 1.70709 21.7072L11.7071 11.7072C11.8 11.6143 11.8736 11.5041 11.9239 11.3827C11.9741 11.2614 12 11.1313 12 11C12 10.8687 11.9741 10.7386 11.9239 10.6173C11.8736 10.496 11.8 10.3857 11.7071 10.2929Z' fill='%23ffffff'/%3E%3C/svg%3E");
  }

  &.prev-btn {
    transform: scaleX(-1)
  }
}

.card__btn {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 11px 35px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: $color-light;
  background-color: $color-main;
  border-radius: $br-btn;

  &:hover {
    background-color: $color-btn-hover;
  }
}

.form-btn {
  width: 100%;
  padding: 19px 30px;
  border-radius: $br-btn;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.12em;
}

.sidebar-btn {
  margin-top: 35px;
  padding: 18px 40px;
  font-weight: 400;
  font-size: 14px;

  &-filter {
    width: 100%;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: $color-text;
    transition: .3s ease-in-out;

    &:hover {
      color: $color-main;
    }
  }
}

.show-more {
  width: 100%;
  padding: 11px 45px;
  font-size: 16px;
  letter-spacing: 0.16em;
  border-radius: $br-btn;
  border: 1px solid $color-main;
  text-transform: uppercase;
  color: $color-main;
}

.btn-wish {
  padding: 10px 20px 10px 48px;
  font-size: 11px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.99384 2.68223C7.19442 0.50456 4.19377 -0.0812272 1.93923 1.91287C-0.31532 3.90696 -0.632729 7.24099 1.13778 9.59942C2.60984 11.5603 7.06479 15.6959 8.52489 17.0345C8.68824 17.1842 8.76992 17.2591 8.86519 17.2885C8.94834 17.3142 9.03933 17.3142 9.12248 17.2885C9.21775 17.2591 9.29943 17.1842 9.46278 17.0345C10.9229 15.6959 15.3778 11.5603 16.8499 9.59942C18.6204 7.24099 18.3417 3.88599 16.0484 1.91287C13.7551 -0.0602514 10.7933 0.50456 8.99384 2.68223Z' fill='%23FF4747'/%3E%3C/svg%3E");
  background-size: 18px 18px;
}

.btn-share {
  padding: 10px 18px 10px 45px;
  font-size: 11px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1268 0.00472444L15.2102 0L15.3126 0.00629913L15.3835 0.0188976L15.4803 0.0464567L15.5646 0.0826772L15.6433 0.127559L15.7142 0.180315L15.7787 0.23937L15.8197 0.285827L15.8842 0.377165L15.9252 0.452756C15.9622 0.531496 15.9858 0.61496 15.9961 0.701575L16 0.785039C16 0.844094 15.9937 0.902362 15.9811 0.958267L15.9535 1.05512L10.8102 15.289C10.7127 15.5012 10.5564 15.681 10.3597 15.8071C10.1631 15.9331 9.93436 16.0001 9.70078 16C9.49041 16.0007 9.28346 15.9468 9.10007 15.8438C8.91668 15.7407 8.76312 15.5919 8.65433 15.4118L8.60315 15.3118L5.96378 10.0346L0.711811 7.40787C0.517481 7.31899 0.349892 7.18065 0.225805 7.00668C0.101718 6.83271 0.0254834 6.62921 0.00472444 6.41653L0 6.29921C0 5.85827 0.237008 5.45512 0.662205 5.22047L0.772441 5.16535L14.959 0.0425196L15.0425 0.0188976L15.1268 0.00472444Z' fill='%2303A753'/%3E%3C/svg%3E");
  background-size: 16px 16px;
}

.btn-navy {
  font-weight: 400;
  font-size: 18px;
  color: $color-main;
  background: transparent;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.catalog-btn {
  margin-left: auto;
}

.btn-question {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='%236E6E6E'/%3E%3Cpath d='M8.68717 12.3979C8.67709 12.3518 8.67205 12.3057 8.67205 12.2596C8.67205 12.2042 8.67205 12.1535 8.67205 12.1074C8.67205 11.7663 8.73755 11.4712 8.86855 11.2222C8.99955 10.9733 9.17086 10.7474 9.38248 10.5445C9.5941 10.3324 9.81579 10.1342 10.0476 9.94975C10.2894 9.75611 10.5212 9.55325 10.7429 9.34117C10.8739 9.21208 10.9898 9.07377 11.0905 8.92624C11.1913 8.76948 11.2669 8.60812 11.3173 8.44214C11.3777 8.27617 11.408 8.11941 11.408 7.97188C11.408 7.65837 11.3324 7.39558 11.1812 7.1835C11.0301 6.97142 10.8235 6.81466 10.5615 6.71323C10.2995 6.60258 9.99214 6.54726 9.63944 6.54726C9.36736 6.54726 9.09025 6.58414 8.80809 6.65791C8.53601 6.72246 8.2992 6.83772 8.09766 7.00369C7.89612 7.16045 7.76008 7.37714 7.68954 7.65376H6.35938C6.40976 7.28493 6.53068 6.9622 6.72215 6.68557C6.92369 6.40895 7.17561 6.18304 7.47792 6.00784C7.78023 5.82342 8.11278 5.68511 8.47555 5.5929C8.8484 5.50069 9.23132 5.45459 9.62433 5.45459C10.1584 5.45459 10.6623 5.54219 11.1359 5.71738C11.6095 5.88336 11.9924 6.14615 12.2847 6.50577C12.5769 6.86538 12.723 7.33564 12.723 7.91655C12.723 8.2024 12.6827 8.4698 12.6021 8.71877C12.5215 8.95851 12.4005 9.18903 12.2393 9.41033C12.0882 9.62241 11.9068 9.82988 11.6952 10.0327C11.4332 10.2909 11.1712 10.5261 10.9091 10.7381C10.6471 10.941 10.4305 11.1623 10.2592 11.402C10.0879 11.6326 10.0022 11.9276 10.0022 12.2872C10.0022 12.3057 10.0022 12.3241 10.0022 12.3426C10.0022 12.361 10.0022 12.3794 10.0022 12.3979H8.68717ZM9.32202 15.4546C9.06002 15.4546 8.84336 15.3762 8.67205 15.2195C8.51082 15.0627 8.4302 14.8645 8.4302 14.6247C8.4302 14.385 8.51082 14.1867 8.67205 14.03C8.84336 13.8732 9.06002 13.7948 9.32202 13.7948C9.58402 13.7948 9.80068 13.8732 9.97199 14.03C10.1433 14.1867 10.2289 14.385 10.2289 14.6247C10.2289 14.8645 10.1433 15.0627 9.97199 15.2195C9.80068 15.3762 9.58402 15.4546 9.32202 15.4546Z' fill='%236E6E6E'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.characteristics-btn {
  width: fit-content;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: $color-main;
  text-decoration: underline;
  transition: .3s ease-in-out;

  &:hover {
    color: $color-btn-hover;
    text-decoration: none;
  }
}

.close-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 0;
  background-color: transparent;
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L22 22M2 22L22 2' stroke='%236C6C6C' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  -webkit-transition: background-image .3s ease-in-out;
  transition: background-image .3s ease-in-out;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L22 22M2 22L22 2' stroke='%2303A753' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  &.btn-fill {
    width: 26px;
    height: 26px;
    background-size: 10px 10px;
    background-color: $color-main;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L22 22M2 22L22 2' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

    &:hover {
      background-color: $color-btn-hover;
    }
  }
}

.splide .btn-lg {
  white-space: nowrap;
}

.filter-btn {
  padding-left: 25px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $color-main;
  text-transform: uppercase;
  text-decoration: underline;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.625 7.5V1M14 14V11.5625M2.625 14V10.75M14 8.3125V1M8.3125 3.4375V1M8.3125 14V6.6875' stroke='%2303A753' stroke-linecap='round'/%3E%3Cpath d='M2.625 10.75C3.52246 10.75 4.25 10.0225 4.25 9.125C4.25 8.22754 3.52246 7.5 2.625 7.5C1.72754 7.5 1 8.22754 1 9.125C1 10.0225 1.72754 10.75 2.625 10.75Z' stroke='%2303A753' stroke-linecap='round'/%3E%3Cpath d='M8.3125 6.6875C9.20996 6.6875 9.9375 5.95996 9.9375 5.0625C9.9375 4.16504 9.20996 3.4375 8.3125 3.4375C7.41504 3.4375 6.6875 4.16504 6.6875 5.0625C6.6875 5.95996 7.41504 6.6875 8.3125 6.6875Z' stroke='%2303A753' stroke-linecap='round'/%3E%3Cpath d='M14 11.5625C14.8975 11.5625 15.625 10.835 15.625 9.9375C15.625 9.04004 14.8975 8.3125 14 8.3125C13.1025 8.3125 12.375 9.04004 12.375 9.9375C12.375 10.835 13.1025 11.5625 14 11.5625Z' stroke='%2303A753' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 17px 15px;
  background-position: left center;
  background-repeat: no-repeat;
  transition: .3s ease-in-out;

  &:hover {
    color: $color-btn-hover;
    text-decoration: none;
  }
}

.catalog-link--sm {
  display: block;
  width: 300px;
  margin: 20px auto 0;
  padding: 8px 30px !important;
  font-size: 14px;
}

@media screen and (min-width: 577px) {
  .catalog-link--sm {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .catalog-link .text-sm {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .filter-btn {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .btn-lg {
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 500;
  }

  .slider-btn {
    width: 34px;
    height: 34px;
    background-size: 8px 12px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 4px 13px;
  }

  .btn-lg {
    padding: 10px 30px;
    font-size: 12px;
  }

  .show-more {
    padding: 11px 30px;
    font-size: 14px;
    line-height: 1.2;
  }

  .filter-btn {
    font-size: 15px;
  }

  .catalog-link {
    padding: 7px 15px;
    font-size: 10px;
  }

  .catalog-link .text-md {
    display: none;
  }

  .modal .close-btn {
    top: 20px;
    right: 20px;

    &.btn-fill {
      top: 13px;
      right: 13px;
    }
  }
}

@media screen and (max-width: 576px) {
  .btn-lg {
    font-size: 14px;
  }

  .slider-btn {
    width: 28px;
    height: 28px;
    background-size: 6px 8px;
  }

  .form-btn {
    padding: 13px 20px;
    font-size: 12px;
  }

  .filter-btn {
    font-size: 12px;
  }

  .show-more {
    padding: 10px 30px;
    font-size: 12px;
  }

  .catalog-link {
    padding: 3px 12px;
    font-size: 12px;
  }

  .modal .close-btn {
    width: 20px;
    height: 20px;

    &.btn-fill {
      background-size: 8px 8px;
    }
  }
}
