:root {
  --br-card: 20px;

  @media screen and (max-width: 992px) {
    --br-card: 15px;
  }
}

.card {
  width: 260px;
  display: flex;
  flex-direction: column;
  border-radius: var(--br-card);
  background-color: $color-secondary;
  overflow: hidden;
  container-type: inline-size;

  &__link {
    &_img {
      width: 100%;
      height: 320px;
      flex-shrink: 0;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_title {
      flex: 1 0 auto;
      display: block;
      margin-top: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
      color: #000;
      text-align: left;
    }
  }

  &__body {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .new-price {
    font-size: 26px;
    line-height: 1.2;
    color: $color-main;

    .text-gray {
      font-weight: 400;
      font-size: 0.55em;
      color: #99a3ae;
    }
  }

  .old-price {
    font-size: 17px;
    color: #99a3ae;
    text-decoration: line-through;
  }

  .discount {
    font-size: 18px;
    color: #f04a4a;
  }

  &__bottom {
    margin-top: 12px;
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 15px;
  }

  &__btns {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000;
    transition: color .3 ease-in-out;

    &:hover {
      color: $color-btn-hover;
    }
  }

  &.disabled {
    background-color: #efefef;

    .card__btn {
      color: #fff;
      background-color: #959595;
    }

    .card__link {
      color: $color-main;
      text-decoration: underline;
      pointer-events: auto;
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 6px;

  &__icon {
    width: 16px;
    height: 16px;
    fill: $color-star;
  }

  &__value {
    font-weight: 500;
    color: #8e8e8e;
  }
}

.review {
  display: flex;
  align-items: center;
  column-gap: 6px;
  
  img {
    width: 15px;
    height: auto;
  }

  &__value {
    font-weight: 500;
    color: #8e8e8e;
  }
}

@container (min-width: 300px) {
  .card {
    &__link_img {
      width: 150px;
      height: 165px;
      border-radius: 17px;
      overflow: hidden;
    }

    &__body {
      padding: 15px;
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 3px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: last baseline;
    }

    &__price {
      align-items: first baseline;
      column-gap: 10px;
    }

    .discount {
      margin-right: auto;
      order: 0;
      font-size: 16px;
    }

    .old-price {
      order: 1;
      font-size: 15px;
    }

    .new-price {
      order: 2;
      font-size: 22px;
    }

    &__link_title {
      width: fit-content;
      margin-top: 10px;
      font-size: 18px;
    }

    &__btns {
      margin-top: 0;
      row-gap: 5px;
    }

    &__btn {
      padding: 8px 15px;
    }
  }
}

@container (min-width: 550px) {
  .card {
    &__info {
      flex-direction: row;
      align-items: center;
    }
  }
}

@container (min-width: 650px) {
  .card {
    &__link_title {
      font-size: 20px;
    }
  }
}

@container (max-width: 210px) {
  .card {
    &__body {
      padding: 15px;
    }

    &__link_img {
      height: 270px;
    }

    &__link_title {
      font-size: 15px;
    }

    .new-price {
      font-size: 22px;

      .text-gray{
        font-size: 11px;
      }
    }

    .old-price,
    .discount {
      font-size: 15px;
    }

    .rating__value,
    .review__value {
      font-size: 12px;
    }

    &__btn {
      padding: 10px 12px;
      font-size: 12px;
      border-radius: 60px;
    }
  }
}

@container (max-width: 190px) {
  .card__link_img {
    height: 205px;
  }

  .card__body {
    padding: 10px 10px 15px;
  }

  .card {
    .new-price {
      font-size: 20px;
    }

    .old-price, .discount {
      font-size: 13px;
    }

    &__link_title {
      margin-top: 8px;
      font-size: 13px;
    }

    &__info {
      column-gap: 15px
    }

    .rating__value, .review__value {
      font-size: 10px;
    }

    &__btns {
      margin-top: 15px;
    }

    &__btn {
      padding: 8px 16px;
      font-size: 9px;
    }

    &__link {
      font-size: 9px;
    }
  }

  .rating__icon {
    width: 11px;
    height: 11px;
  }

  .review img {
    width: 10px;
  }
}

@container (max-width: 160px) {
  .card__link_img {
    height: 170px;
  }

  .card__body {
    padding: 10px 7px 13px;
  }

  .card {
    .old-price {
      font-size: 14px;
    }

    .discount {
      position: absolute;
      top: 140px;
      right: 10px;
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 600;
      color: #F04A4A;
      border: 2px solid #F04A4A;
      border-radius: 72px;
      background-color: #fff;
    }

    &__link_title {
      margin-top: 10px;
      font-size: 14px;
    }

    &__bottom {
      margin-top: 10px;
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 2px;
    }

    .rating__value, .review__value {
      font-size: 12px;
      line-height: 1.6;
    }

    &__btn {
      padding: 5px 10px;
      font-size: 12px;

      span {
        display: none;
      }
    }

    &__link {
      font-size: 10px;
    }
  }
}
