.card {
  width: 260px;
  display: flex;
  flex-direction: column;
  border-radius: $br-xl;
  background-color: $color-secondary;

  &__link {
    &_img {
      width: 100%;
      height: 320px;
      flex-shrink: 0;
      border-radius: $br-xl $br-xl 0 0;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $br-xl $br-xl 0 0;
      }
    }
    &_title {
      flex: 1 0 auto;
      display: block;
      margin-top: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
      color: #000;
      text-align: left;
    }
  }

  &__body {
    flex-grow: 1;
    padding: 20px;
    border-radius: 0 0 $br-xl $br-xl;
    display: flex;
    flex-direction: column;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .new-price {
    font-size: 26px;
    line-height: 1.2;
    color: $color-main;

    .text-gray {
      font-weight: 400;
      font-size: 14px;
      color: #99a3ae;
    }
  }

  .old-price {
    font-size: 17px;
    color: #99a3ae;
    text-decoration: line-through;
  }

  .discount {
    font-size: 18px;
    color: #f04a4a;
  }

  &__info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__link {
    display: block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000;
  }

  &.disabled {
    .card__body {
      background-color: #efefef;
    }

    .card__btn {
      color: #fff;
      background-color: #959595;
    }

    .card__link {
      color: $color-main;
      text-decoration: underline;
      pointer-events: auto;
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 6px;

  &__icon {
    width: 16px;
    height: 16px;
    fill: $color-star;
  }

  &__value {
    font-weight: 500;
    font-size: 15px;
    color: #8e8e8e;
  }
}

.review {
  display: flex;
  align-items: center;
  column-gap: 6px;
  
  img {
    width: 15px;
    height: auto;
  }

  &__value {
    font-weight: 500;
    font-size: 15px;
    color: #8e8e8e;
  }
}
