.comment {
  padding: 25px 30px;
  border-radius: $br-lg;
  background-color: #F1F9F5;

  .rating {
    display: flex;
    align-items: center;
  
    &__progress {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    &__icon {
      width: 12px;
      height: 12px;
      fill: #dbdbdb;
  
      &.active {
        fill: #f3c54e;
      }
    }
  
    &__grade {
      margin-left: 15px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      color: #faa500;
    }
  
    &__source {
      margin-left: 30px;
      width: 32px;
      height: 32px;
      object-fit: fill;
    }
  }  

  .author {
    display: flex;
    align-items: center;
    gap: 15px;

    &__img {
      width: 50px;
      height: 50px;
      border: 1px solid #333;
      border-radius: 50%;
      background-color: white;
    }

    &__name {
      font-size: 23px;
      line-height: 1.2;
      color: #272727;
    }
  }

  &__text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.5;
    color: #24383b;
  }
}
