.comment {
  padding: 25px 30px;
  border-radius: $br-lg;
  background-color: #f5f9f1;

  &-best {
    margin-top: 85px;

    .author {
      margin-top: 25px;
    }

    .comment__text {
      max-width: 870px;
      font-size: 14px;
      line-height: 1.65;
      letter-spacing: .02em;
    }

    .btn {
      padding: 10px 25px;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: .05em;
    }

    .btn-more {
      margin-top: 15px;
      font-size: 14px;
      color: #707070;
      text-decoration: underline;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__popularity {
    margin-left: auto;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    pointer-events: none;
  }

  .rating {
    display: flex;
    align-items: center;
    column-gap: 15px;
  
    &__progress {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    &__icon {
      width: 12px;
      height: 12px;
      fill: #dbdbdb;
  
      &.active {
        fill: #f3c54e;
      }
    }
  
    &__grade {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      color: #faa500;
    }
  
    &__source {
      margin-left: 15px;
      width: 32px;
      height: 32px;
      object-fit: fill;
    }
  }  

  .author {
    display: flex;
    align-items: center;
    gap: 15px;

    &__img {
      width: 50px;
      height: 50px;
      border: 1px solid #333;
      border-radius: 50%;
      background-color: white;
    }

    &__name {
      font-size: 23px;
      line-height: 1.2;
      color: #272727;
    }
  }

  &__text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.5;
    color: #24383b;
  }
}
