.input {
  width: 100%;
  max-width: 286px;
  border: none;
  outline: none;
  padding: 14px 30px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 24px;
  
  &::placeholder {
    color: #b7b7b7;
  }
}

.textarea {
  width: 100%;
  padding: 20px 30px;
  border: none;
  outline: none;
  resize: none;
  border-radius: 24px;

  &::placeholder {
    color: #b7b7b7;
  }
}
