.modal {
  width: 100vw;
  height: 100vh;
  background-color: #03030350;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;

    .modal__layout {
      transform: scale(1);
    }
  }

  &__layout {
    position: relative;
    z-index: 0;
    border-radius: 20px;
    overflow: hidden;
    transform: scale(0);
    transition: .3s ease-in-out;
  }

  &__content {
    display: none;
    width: 90vw;
    max-width: 306px;
    background-color: #fff;

    &.show {
      display: block;
    }

    .modal__title {
      font-size: 35px;
      font-weight: 400;
      color: #272727;
    }

    .modal__form {
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .input {
        max-width: 100%;
        text-align: center;
        border: 1px solid $color-main;
        border-radius: 46px;

        &::placeholder {
          color: #929292;
        }

        &[type="tel"] {
          padding-left: 45px;
          text-align: left;
          background: left 17px center / 16px 12px no-repeat url("/assets/img/svg/flags/russia.svg");
        }
      }

      .btn {
        padding: 15px;
        font-size: 14px;
      }
    }

    &_login {
      padding: 30px 23px 25px;

      &[data-target="auth"] {
        .modal__form {
          .input {
            font-weight: 700;
            letter-spacing: 1em;
  
            &::placeholder {
              font-family: monospace;
              font-size: 20px;
              color: #000 !important;
            }
          }
  
          .btn {
            color: #000;
  
            &:hover {
              color: #fff;
            }
          }
        }
      }

      .modal {
        &__logo {
          width: 125px;
          margin: 0 auto;
          display: block;
        }

        &__title {
          margin-top: 20px;
          font-weight: 500;
          font-size: 22px;
          line-height: 1.5;
          color: #040404;
          text-align: center;
        }

        &__subtitle {
          font-weight: 500;
          font-size: 15px;
          line-height: 1.5;
          color: #99a3ae;
          text-align: center;
        }

        &__footer {
          margin-top: 25px;
          padding: 0 5px;

          .btn {
            padding: 0;
            font-size: 9px;
            font-weight: 400;
            letter-spacing: 0;
            border: none;
            text-transform: none;
            color: #929292;

            &:hover {
              background: none;
            }

            &-active {
              color: $color-main;

              &:hover {
                color: $color-btn-hover;
              }
            }
          }
        }

        &__links {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__info {
          margin-top: 15px;
          font-size: 11px;
          line-height: 1.6;
          color: #929292;
          text-align: center;

          .btn {
            font-size: 11px;
            text-decoration: underline;
          }
        }
      }
    }

    &_notify {
      max-width: 674px;
      padding: 45px 40px 43px 50px;

      .modal {
        &__subtitle {
          max-width: 500px;
          margin-top: 20px;
          font-size: 23px;
          color: #24383b;
        }

        &__form {
          margin-top: 34px;
          row-gap: 20px;

          .input,
          .btn {
            padding: 19px 25px;
            font-size: 16px;
            letter-spacing: 0.16em;
          }
        }
      }
    }

    &_share {
      max-width: 475px;
      padding: 30px 30px 25px;

      .modal__title {
        font-size: 25px;
      }

      .share__list {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 22px;
      }

      .share__btn {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 7px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        color: #24383b;

        .icon {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &-link {
            background-color: #E6F5EE;
          }

          &-wa {
            background-color: #25D366;
          }

          &-tg {
            background-color: #2DA5E1;
          }

          &-vk {
            background-color: #0077FF;
          }

          &-ok {
            background-color: #F68634;
          }
        }

        p {
          width: min-content;
          max-width: 92px;
        }
      }
    }

    &_pay {
      max-width: 674px;
      padding: 35px 35px 30px;

      .modal {
        &__header {
          display: flex;
          align-items: center;
          gap: 25px;
        }

        &__imgs {
          display: flex;
          align-items: center;
          gap: 7px;
        }

        &__text {
          margin-top: 15px;
          font-size: 14px;
          color: #24383B;

          &:first-child {
            margin-top: 20px;
          }
        }
      }
    }

    &_calc {
      max-width: 674px;
      padding: 35px;

      .text-top {
        font-size: 22px;
      }

      .modal {
        &__header {
          max-width: 480px;
          margin-top: 20px;
          padding: 10px 30px;
          border: 1px solid $color-main;
          border-radius: 25px;
          display: flex;
          gap: 35px;
        }

        &__link {
          margin-top: 20px;
          display: block;
          letter-spacing: .16em;
        }

        &__info {
          margin-top: 10px;
          text-align: center;
          font-size: 14px;
          color: #788287;
        }
      }

      .recommendation {
        margin-top: 25px;

        &:first-child {
          margin-top: 30px;
        }

        &__header {
          display: flex;
          align-items: center;
          column-gap: 8px;
        }

        &__title {
          font-size: 17px;
          font-weight: 500;
          color: #24383B;
        }

        &__icon {
          width: 19px;
          height: 23px;
          stroke: $color-main;

          &.fill {
            fill: $color-main;
            stroke: none;
          }
        }

        &__text {
          max-width: 535px;
          margin-top: 10px;
          font-size: 14px;
          color: #24383B;
        }
      }

      .details {
        line-height: 1.4;

        &__title {
          font-size: 14px;
          color: #8E8E8E;
        }

        &__text {
          margin-top: 3px;
          font-size: 17px;
          color: #24383B;
        }
      }

      .cards {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      .card {
        width: 188px;
        border-radius: 15px;

        &__link_img {
          height: 232px;
        }

        &__body {
          padding: 6px 14px 14px;
        }

        .new-price {
          font-size: 18px;
        }

        .old-price,
        .discount {
          font-size: 12px;
        }

        &__link_title {
          margin-top: 6px;
          font-size: 13px;
        }

        &__info {
          margin-top: 9px;
          font-size: 11px;
          column-gap: 12px;
        }

        .rating,
        .review {
          column-gap: 4px;
        }

        .rating__icon,
        .review img {
          width: 11px;
        }

        &__btn {
          margin-top: 12px;
          padding: 8px 15px;
          font-size: 9px;
        }

        &__link {
          margin-top: 6px;
          font-size: 9px;
        }
      }
    }

    &_katalog {
      max-width: 1160px;
      border-radius: 30px;

      .tabs {
        display: flex;

        &__nav {
          flex-shrink: 0;
          padding: 45px 28px 54px 20px;
          background-color: #F1F9F5;
          display: flex;
          flex-direction: column;
          gap: 20px;

          &-btn {
            width: 100%;
            max-width: 290px;
            padding: 6px;
            padding-right: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0;
            border: 1px solid $color-main;
            text-align: left;
            border-radius: 20px;
            color: $color-main;
            display: flex;
            align-items: center;
            column-gap: 9px;
            transition: .3s ease-in-out;

            &:hover {
              color: #fff;
              background-color: $color-btn-hover;
              border-color: $color-btn-hover;
            }

            &--active {
              color: #FEFEFE;
              background-color: $color-main;

              .tabs__nav-icon {
                background-color: #FEFEFE;
              }
            }
          }

          &-icon {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: $color-main;
            transition: .3s ease-in-out;
          }
        }

        &__content {
          width: 100%;
        }

        &__panel {
          padding: 42px 46px;

          &-header {
            margin-bottom: 27px;
            display: flex;
            align-items: center;
            column-gap: 20px;
          }

          &-title {
            font-size: 35px;
            line-height: 1.2;
            color: #272727;
          }

          &-icon {
            fill: $color-main;
          }

          &-body {
            max-height: 440px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            justify-content: start;
            gap: 15px 40px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: $color-main #f9f9fd;

            &::-webkit-scrollbar {
              width: 10px;
              background-color: #f9f9fd;
            }
            
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: $color-main;
              cursor: pointer;
            }
            
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
              border-radius: 10px;
              background-color: #f9f9fd;
            }
          }

          &-link {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;
            color: #272727;
            text-align: left;
            transition: color .3s ease-in-out;

            &:hover {
              color: $color-main;
            }
          }

          &-links {
            &--btn {
              display: flex;
              align-items: center;
              column-gap: 7px;
              font-size: 14px;
              line-height: 1.2;
              font-weight: 400;
              letter-spacing: 0;
              color: #272727;
              transition: color .3s ease-in-out;

              &:hover {
                color: $color-btn-hover;

                .tabs__panel-links--icon {
                  stroke: $color-btn-hover;
                }
              }

              &.open {
                color: $color-main;

                .tabs__panel-links--icon {
                  stroke: $color-main;
                  transform: rotate(-90deg);
                }
  
                & ~ .tabs__panel-links--body {
                  display: flex;
                }
              }
            }

            &--icon {
              width: 10px;
              height: 8px;
              fill: none;
              stroke: #272727;
              transition: stroke .3s ease-in, transform .3s linear;
            }

            &--body {
              display: none;
              margin-top: 7px;
              padding-left: 10px;
              flex-direction: column;
              row-gap: 5px;
            }
          }
        }
      }
    }
  }
}
