.modal {
  padding: 70px 0;
  background-color: #00000050;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: .3s ease-in-out;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &:has(.modal__content_cart.show) {
    padding-top: 90px;
    padding-right: max(30px, calc((100vw - 1150px) / 2));
    text-align: right;

    .modal__layout {
      vertical-align: top;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;

    .modal__layout {
      transform: scale(1);
    }
  }

  &__layout {
    display: inline-block;
    width: fit-content;
    position: relative;
    z-index: 0;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;
    transform: scale(0);
    transition: .3s ease-in-out;
    vertical-align: middle;

    &:has(.modal__content_product.show) {
      border-radius: 15px;
    }
  }

  .close-btn {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
  }

  &__content {
    display: none;
    width: 90vw;
    max-width: 316px;
    background-color: #fff;

    &.show {
      display: block;
    }

    .modal__title {
      font-size: 35px;
      font-weight: 400;
      line-height: 1.2;
      color: #272727;
    }

    .modal__form {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .input {
        max-width: 100%;
        text-align: center;
        border: 1px solid $color-main;
        border-radius: 46px;

        &::placeholder {
          color: #929292;
        }

        &[type="tel"] {
          padding-left: 45px;
          text-align: left;
          background: #fff left 17px center / 16px 12px no-repeat url("/assets/img/svg/flags/russia.svg");
        }
      }

      .btn {
        padding: 15px;
        font-size: 14px;
      }
    }

    &_login {
      padding: 30px 20px 25px;

      &[data-target="auth"] {
        .modal__form {
          .input {
            font-weight: 700;
            letter-spacing: 1em;
  
            &::placeholder {
              font-family: monospace;
              font-size: 20px;
              color: #000 !important;
            }
          }
  
          .btn {
            color: #000;
  
            &:hover {
              color: #fff;
            }
          }
        }
      }

      .modal {
        &__logo {
          width: 125px;
          margin: 0 auto;
          display: block;
        }

        &__title {
          margin-top: 12px;
          font-weight: 500;
          font-size: 22px;
          line-height: 1.5;
          color: #040404;
          text-align: center;
        }

        &__subtitle {
          font-weight: 500;
          font-size: 15px;
          line-height: 1.5;
          color: #99a3ae;
          text-align: center;
        }

        &__footer {
          margin-top: 20px;

          .btn {
            padding: 0;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0;
            border: none;
            text-transform: none;
            color: #929292;

            &:hover {
              background: none;
            }

            &-active {
              color: $color-main;

              &:hover {
                color: $color-btn-hover;
              }
            }
          }
        }

        &__links {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__info {
          margin-top: 15px;
          font-size: 12px;
          line-height: 1.6;
          color: #929292;
          text-align: center;

          .btn {
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
          }

          .info-link {
            font-weight: 400;
            font-size: inherit;
            color: inherit;
            text-decoration: underline;
          }

          &_registration {
            .btn {
              font-size: inherit;
              color: inherit;
            }
          }
        }
      }
    }

    &_notify {
      max-width: 578px;
      padding: 45px 40px 43px 50px;

      .modal {
        &__subtitle {
          max-width: 500px;
          margin-top: 20px;
          font-size: 23px;
          color: #24383b;
        }

        &__form {
          margin-top: 34px;
          row-gap: 20px;

          .input,
          .btn {
            padding: 19px 25px;
            font-size: 16px;
            letter-spacing: 0.16em;
          }
        }
      }
    }

    &_share {
      max-width: 475px;
      padding: 30px 30px 25px;

      .modal__title {
        font-size: 25px;
      }

      .share__list {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 22px;
      }

      .share__btn {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 7px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        color: #24383b;

        .icon {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &-link {
            background-color: #E6F5EE;
          }

          &-wa {
            background-color: #25D366;
          }

          &-tg {
            background-color: #2DA5E1;
          }

          &-vk {
            background-color: #0077FF;
          }

          &-ok {
            background-color: #F68634;
          }
        }

        p {
          width: min-content;
          max-width: 92px;
          line-height: 1.2;
        }
      }
    }

    &_pay {
      max-width: 674px;
      padding: 35px 35px 30px;

      .modal {
        &__header {
          display: flex;
          align-items: last baseline;
          gap: 25px;
        }

        &__imgs {
          display: flex;
          align-items: center;
          gap: 7px;

          img {
            max-width: 64px;
          }
        }

        &__title {
          width: fit-content;
          text-align: left;
        }

        &__subtitle {
          margin-bottom: 20px;
          font-size: 25px;
          line-height: 1.2;
          color: #272727;
          opacity: .5;
        }

        &__text {
          margin-top: 15px;
          font-size: 14px;
          line-height: 1.4;
          color: #24383B;

          &:first-child {
            margin-top: 20px;
          }
        }
      }
    }

    &_calc {
      max-width: 674px;
      padding: 35px;

      .text-top {
        font-size: 22px;
      }

      .modal {
        &__header {
          max-width: 480px;
          margin-top: 20px;
          padding: 10px 30px;
          border: 1px solid $color-main;
          border-radius: 25px;
          display: flex;
          gap: 35px;
        }

        &__link {
          margin-top: 20px;
          display: block;
          letter-spacing: .16em;
        }

        &__info {
          margin-top: 10px;
          text-align: center;
          font-size: 14px;
          color: #788287;
        }
      }

      .recommendation {
        margin-top: 25px;

        &:first-child {
          margin-top: 30px;
        }

        &__header {
          display: flex;
          align-items: center;
          column-gap: 8px;
        }

        &__title {
          font-size: 17px;
          font-weight: 500;
          color: #24383B;
        }

        &__icon {
          width: 19px;
          height: 23px;
          stroke: $color-main;

          &.fill {
            fill: $color-main;
            stroke: none;
          }
        }

        &__text {
          max-width: 535px;
          margin-top: 10px;
          font-size: 14px;
          color: #24383B;
        }
      }

      .details {
        line-height: 1.4;

        &__title {
          font-size: 14px;
          color: #8E8E8E;
        }

        &__text {
          margin-top: 3px;
          font-size: 17px;
          color: #24383B;
        }
      }

      .cards {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      .card {
        width: 188px;
        border-radius: 15px;

        &__link_img {
          height: 232px;
        }

        &__body {
          padding: 6px 14px 14px;
        }

        .new-price {
          font-size: 18px;
        }

        .old-price,
        .discount {
          font-size: 12px;
        }

        &__link_title {
          margin-top: 6px;
          font-size: 13px;
        }

        &__bottom {
          margin-top: 9px;
          row-gap: 12px;
        }

        &__info {
          font-size: 11px;
        }

        .rating,
        .review {
          column-gap: 4px;
        }

        .rating__icon,
        .review img {
          width: 11px;
        }

        &__btns {
          row-gap: 6px;
        }

        &__btn {
          padding: 8px 15px;
          font-size: 9px;
        }

        &__link {
          font-size: 9px;
        }
      }
    }

    &_katalog {
      max-width: 1160px;
      border-radius: 30px;

      .tabs {
        display: flex;

        &__nav {
          flex-shrink: 0;
          padding: 45px 28px 54px 20px;
          background-color: #F1F9F5;
          display: flex;
          flex-direction: column;
          gap: 20px;

          &-btn {
            width: 100%;
            max-width: 290px;
            padding: 6px;
            padding-right: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0;
            border: 1px solid $color-main;
            text-align: left;
            border-radius: 20px;
            color: $color-main;
            display: flex;
            align-items: center;
            column-gap: 9px;
            transition: .3s ease-in-out;

            &:hover {
              color: #fff;
              background-color: $color-btn-hover;
              border-color: $color-btn-hover;
            }

            &--active {
              color: #FEFEFE;
              background-color: $color-main;

              .tabs__nav-icon {
                background-color: #FEFEFE;
              }
            }
          }

          &-icon {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: $color-main;
            transition: .3s ease-in-out;
          }
        }

        &__content {
          width: 100%;
        }

        &__panel {
          padding: 42px 46px;

          &-header {
            margin-bottom: 27px;
            display: flex;
            align-items: center;
            column-gap: 20px;
          }

          &-title {
            font-size: 35px;
            line-height: 1.2;
            color: #272727;
          }

          &-icon {
            fill: $color-main;
          }

          &-body {
            max-height: 440px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            justify-content: start;
            gap: 15px 40px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: $color-main #f9f9fd;

            &::-webkit-scrollbar {
              width: 10px;
              background-color: #f9f9fd;
            }
            
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: $color-main;
              cursor: pointer;
            }
            
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
              border-radius: 10px;
              background-color: #f9f9fd;
            }
          }

          &-link {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;
            color: #272727;
            text-align: left;
            transition: color .3s ease-in-out;

            &:hover {
              color: $color-main;
            }
          }

          &-links {
            &--btn {
              display: flex;
              align-items: center;
              column-gap: 7px;
              font-size: 14px;
              line-height: 1.2;
              font-weight: 400;
              letter-spacing: 0;
              text-align: left;
              color: #272727;
              transition: color .3s ease-in-out;

              &:hover {
                color: $color-btn-hover;

                .tabs__panel-links--icon {
                  stroke: $color-btn-hover;
                }
              }

              &.open {
                color: $color-main;

                .tabs__panel-links--icon {
                  stroke: $color-main;
                  transform: rotate(-90deg);
                }
  
                & ~ .tabs__panel-links--body {
                  display: flex;
                }
              }
            }

            &--icon {
              width: 10px;
              height: 8px;
              fill: none;
              stroke: #272727;
              transition: stroke .3s ease-in, transform .3s linear;
            }

            &--body {
              display: none;
              margin-top: 7px;
              padding-left: 10px;
              flex-direction: column;
              row-gap: 5px;
            }
          }
        }
      }
    }

    &_product {
      max-width: 675px;
      padding: 47px 35px 43px;

      .modal {
        &__title,
        &__subtitle {
          margin-left: 16px;
        }

        &__subtitle {
          margin-top: 20px;
          max-width: 440px;
          font-size: 23px;
          line-height: 1.4;
        }

        &__product {
          margin-top: 22px;
          padding: 12px 30px 13px 16px;
          display: flex;
          gap: 30px;
          border-radius: 15px;
          background-color: $color-secondary;

          .product__img {
            flex-shrink: 0;
            width: 86px;
            height: 125px;
            object-fit: cover;
            border-radius: 10px;
          }

          .product__title {
            max-width: 210px;
            font-size: 20px;
            line-height: 1.25;
            color: #000;
          }

          .product__details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .product__info {
            margin: 0 0 12px;
            align-items: center;
            gap: 8px;
          }

          .product__sale {
            width: 50px;
            padding: 3px 0;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: .05em;
            text-align: center;
            color: #fff;
            background-color: #f04a4a;
            border-radius: 84px;
          }

          .product__count {
            display: flex;
            align-items: center;
            gap: 6px;
          }

          .count__btn {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            font-size: 14px;
            line-height: 1;
            border-radius: 50%;
            border: 1px solid $color-main;
            color: $color-main;
          }

          .product__input_counter {
            width: fit-content;
            min-width: 42px;
            max-width: 56px;
            padding: 3px 5px;
            font-size: 14px;
            line-height: 1;
            border-radius: 10px;
            text-align: center;
          }

          .product__coast {
            margin-left: auto;
            margin-bottom: 14px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          .product__sum,
          .product__price,
          .product__actions {
            display: flex;
            justify-content: flex-end;
            align-items: first baseline;
          }

          .product__sum {
            column-gap: 10px;
          }

          .product__price {
            flex: 1 0 auto;
            column-gap: 4px;
          }

          .product__actions {
            column-gap: 15px;

            button {
              line-height: 0;
            }
          }

          .product__old-sum {
            font-size: 18px;
            line-height: 1.6;
            text-decoration: line-through;
            color: #FEBABA;
          }

          .product__new-sum {
            font-weight: 500;
            font-size: 25px;
            line-height: 1.2;
            color: $color-main;
          }

          .product__old-price {
            font-size: 10px;
            line-height: 1.6;
            text-decoration: line-through;
            color: #C1C1C1;
          }

          .product__new-price {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.6;
            color: #9C9EA0;

            .text-gray {
              font-weight: 400;
              font-size: 8px;
            }
          }

          .wishlist-btn {
            stroke: $color-main;
            fill: transparent;

            &:hover {
              fill: $color-btn-hover !important;
            }

            &.active {
              fill: $color-main;
            }
          }

          .remove-btn {
            fill: #8B8B8B;
          }
        }
      }

      .btn-lg {
        display: block;
        margin-top: 35px;
        letter-spacing: .16em;
      }
    }

    &_zoom {
      width: fit-content;
      max-width: min(900px, calc(100vw - 30px));
      height: fit-content;
      line-height: 0;
      text-align: center;

      .close-btn {
        width: 28px;
        height: 28px;
        border: 1px solid white;

        &::after {
          content: '';
          position: absolute;
          inset: -10px;
          background: transparent; 
        }
      }

      .modal-img-product {
        width: 100%;
        max-width: 450px;
      }

      .modal__zoom-btn {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 5;
        width: 70px;
        background-color: transparent;
        background-size: 22px 36px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        transition: .25s linear;

        &:hover {
          background: linear-gradient(to left, transparent, #00000040 80%);
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 28px;
          height: 28px;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.98711 0.75L1.84961 8.8875L9.98711 17.025' stroke='%2303A75370' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
          background-size: 16px 16px;
          background-position: 35% center;
          background-repeat: no-repeat;
          background-color: white;
          border-radius: 50%;
          transition: background-image 0.3s ease-in-out;
        }

        &:hover.modal__zoom-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.98711 0.75L1.84961 8.8875L9.98711 17.025' stroke='%2303A753' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        }

        &--prev {
          left: 0;
        }

        &--next {
          right: 0;
          transform: scaleX(-1);
        }
      }

      .modal__zoom-img {
        width: 100%;
        max-width: calc(100vw - 30px);
        height: auto;
        max-height: calc(100vh - 180px);
        object-fit: contain;
      }

      .modal__zoom-text {
        max-width: 100%;
        padding: 5px 10px 10px;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
      }
    }

    &_buy {
      max-width: 580px;
      padding: 35px;

      .modal__subtitle {
        max-width: 340px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.4;
      }

      .modal__form {
        margin-top: 25px;
        gap: 0;

        .btn {
          margin-top: 35px;
          padding: 19px 30px;
          font-size: 16px;
          letter-spacing: .16em;
        }
      }

      .form__body {
        padding: 20px 20px 28px;
        border-radius: 15px;
        background-color: $color-secondary;
      }

      .form__row {
        &:not(:first-child) {
          margin-top: 15px;
        }

        .label {
          font-size: 12px;
          line-height: 1.2;
        }

        .input {
          margin-top: 10px;
          padding: 10px 12px !important;
          font-size: 10px;
          text-align: left;
          border-radius: 8px;
          border: none;
          background: #fff !important;
        }
      }

      .modal__info {
        margin-top: 15px;
        font-size: 12px;
        line-height: 1.4;
        color: #788287;
        text-align: center;

        .info-link {
          font-size: inherit;
        }
      }
    }

    &_question {
      max-width: 578px;
      padding: 35px;

      .modal__form {
        margin-top: 25px;
        row-gap: 35px;

        .btn {
          padding: 19px 30px;
          font-size: 16px;
          letter-spacing: .16em;
        }
      }

      .form__body {
        padding: 20px 20px 28px;
        border-radius: 15px;
        background-color: $color-secondary;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .label {
          font-size: 12px;
          line-height: 1.2;
          color: #000;
        }

        .textarea {
          height: 108px;
          padding: 10px 12px;
          border: none;
          border-radius: 8px;
        }
      }

      .modal__info {
        margin-top: 15px;
        font-size: 12px;
        line-height: 1.4;
        color: #788287;
        text-align: center;

        a {
          font-weight: 400;
          font-size: inherit;
          color: inherit;
          text-decoration: underline;

          &:hover {
            color: $color-btn-hover;
          }
        }
      }
    }

    &_cart {
      max-width: 460px;
      padding: 20px;
      background-color: $color-secondary;
      border-radius: 20px;

      .product__list {
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #cdcdcd;
      }

      .product__item {
        display: flex;
        align-items: flex-start;
        column-gap: 10px;
      }

      .product__link_img {
        flex-shrink: 0;
        width: 66px;
        height: 78px;
        border-radius: 6px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          vertical-align: top center;
        }
      }

      .product__link_title {
        flex-shrink: 0;
        max-width: 130px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        text-align: left;
      }

      .amount {
        margin: 0 auto;
        display: flex;
        align-items: center;
        column-gap: 5px;

        &__btn {
          flex-shrink: 0;
          width: 18px;
          height: 18px;
          padding: 0;
          border-radius: 50%;
          border: 1px solid $color-main;
          background-color: #fff;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 6px 6px;
          cursor: pointer;

          &_less {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 5 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='6.86646e-05' width='1' height='5' rx='0.5' transform='rotate(90 5 6.86646e-05)' fill='%2303A753'/%3E%3C/svg%3E");
          }

          &_more {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2' y='6.86646e-05' width='1' height='5' rx='0.5' fill='%2303A753'/%3E%3Crect x='5' y='2.00007' width='1' height='5' rx='0.5' transform='rotate(90 5 2.00007)' fill='%2303A753'/%3E%3C/svg%3E");
          }
        }

        .input {
          width: min-content;
          max-width: 40px;
          padding: 2px 13px;
          font-size: 12px;
          line-height: 1.2;
          text-align: center;
          border-radius: 8px;
        }
      }

      .sum {
        flex-shrink: 0;
        text-align: right;
        white-space: nowrap;

        &__value {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.3;
          color: #000;
        }

        &__details {
          font-size: 10px;
          line-height: 1.3;
          color: #7f7f7f;
        }
      }

      .modal__footer {
        padding-top: 15px;
        display: flex;
        align-items: flex-end;
        column-gap: 10px;

        .btn {
          padding: 5px 16px;
          font-size: 11px;
          letter-spacing: .05em;
        }
      }

      .result {
        flex-shrink: 0;
        margin-right: auto;
        color: #000;

        &__title {
          font-size: 12px;
          line-height: 1.3;
        }

        &__value {
          margin-top: 2px;
          font-weight: 500;
          font-size: 23px;
        }
      }
    }

    &_comment {
      max-width: 810px;
      padding: 25px 30px 35px;
      background-color: #f1f9f5;

      .comment__text {
        font-size: 14px;
        letter-spacing: .02em;
      }
    }

    &_delivery {
      max-width: 675px;
      padding: 35px 35px 40px;

      &-info {
        .modal__title {
          text-align: left !important;
        }

        .info-img {
          flex-shrink: 0;
          width: 25px;
          height: 28px;
          fill: $color-main;
        }
      }

      .modal {
        &__header {
          margin-bottom: 20px;
          display: flex;
          align-items: last baseline;
          column-gap: 20px;
        }

        &__text {
          max-width: 595px;
          margin-top: 15px;
          font-size: 14px;
          line-height: 1.4;

          b {
            font-weight: 500;
          }

          a {
            font-weight: 400;
            font-size: inherit;
            line-height: inherit;
            text-decoration: underline;

            &:hover {
              color: $color-btn-hover;
            }
          }
        }

        &__list li {
          margin-top: 5px;
          margin-left: 20px;
          font-size: 12px;
          line-height: 1.4;
        }
      }
    }

    &_order {
      max-width: 356px;
      padding: 29px 28px 20px;

      .modal__title {
        margin: 30px auto 0;
        max-width: 270px;
        line-height: 1.3;
      }

      .modal__form .input[type="tel"] {
        padding-left: 30px;
        text-align: center;
        background-position: left calc((100% - 180px) / 2) center;
      }

      .modal__info a {
        font-weight: 400;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        text-decoration: underline;
        transition: .3s ease-in-out;

        &:hover {
          color: $color-btn-hover;
        }
      }
    }

    &_chat {
      width: 90vw;
      max-width: 650px;
      padding: 25px 20px;
      background-color: #f4f4f4;

      .chat {    
        &__body {
          width: 100%;
          height: 350px;
          padding: 25px 20px;
          background-color: #fff;
          border-radius: 8px;
          font-size: 14px;
          line-height: 1.4;
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 6px;               /* ширина всей полосы прокрутки */
          }
          
          &::-webkit-scrollbar-track {
            background: rgba($color-main, .1);        /* цвет зоны отслеживания */
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: $color-main;    /* цвет бегунка */
            border-radius: 20px;       /* округлось бегунка */
            border: 1px solid $color-main;  /* отступ вокруг бегунка */
          }
        }
    
        &__number {
          text-align: center;
        }
    
        &__row {
          display: flex;
          align-items: last baseline;
          gap: 10px;
    
          &_user {
            flex-direction: row-reverse;
          }
    
          p {
            max-width: 355px;
            padding: 10px 15px;
            background: $color-secondary;
            border-radius: 10px;
            line-height: 1.4;
          }
    
          time {
            font-size: 12px;
            color: #acacac;
          }
        }
      }
    }

    &_thanks {
      max-width: 674px;
      padding: 45px 55px 60px;

      .text-top {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 24px;

        img {
          width: 50px;
        }

        p {
          font-size: 35px;
          line-height: 1.2;
          color: #272727;
        }
      }

      .text-bottom {
        max-width: 490px;
        font-size: 23px;
        line-height: 1.4;
      }
    }
  }
}

@-moz-document url-prefix() {
  .modal__content_chat .chat__body {
    scrollbar-width: -moz-thin;          /* "auto" или "thin" */
    scrollbar-color: $color-main rgba($color-main, .1);   /* цвет бегунка и зоны отслеживания */
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .modal__content_calc .card {
    width: 100%;

    &__link_img {
      height: 180px;
    }

    &__body {
      padding: 6px 10px 10px;
    }

    .new-price {
      font-size: 14px;

      .text-gray {
        font-size: 8px;
      }
    }

    .old-price {
      font-size: 10px;
    }

    .discount {
      position: static;
      font-size: 10px;
      padding: 0;
      border: none;
      background-color: transparent;
    }

    &__link_title {
      font-size: 10px;
    }

    &__bottom {
      margin-top: 4px;
    }

    &__info {
      flex-direction: row;
      column-gap: 10px;
    }

    .review img {
      width: 9px;
    }

    .rating__value,
    .review__value {
      font-size: 8px;
    }

    &__btns {
      margin-top: 8px;
    }

    &__btn {
      padding: 5px 9px 6px;
      font-size: 7px;
    }

    &__link {
      font-size: 7px;
    }
  }
}

@media screen and (max-width: 992px) {
  .modal__content_product {
    max-width: 475px;
    padding: 47px 25px 34px;

    .modal__title {
      margin: 0;
      font-size: 30px;
      text-align: center;
    }

    .modal__subtitle {
      max-width: 360px;
      margin: 12px auto 0;
      font-size: 17px;
      text-align: center;
    }

    .modal__product {
      padding: 12px 13px 13px;
      column-gap: 10px;

      .product__title {
        max-width: 170px;
        font-weight: 500;
        font-size: 16px;
      }

      .product__details {
        row-gap: 10px;
      }

      .product__info {
        margin: 0;
        display: contents;
      }

      .product__coast {
        margin: 0;
        margin-left: auto;
      }

      .product__count {
        margin-top: auto;
      }

      .product__sum {
        column-gap: 6px;
      }

      .product__old-sum {
        font-size: 16px;
      }

      .product__new-sum {
        font-size: 21px;
      }

      .product__actions {
        column-gap: 10px;
      }

      .wishlist-btn .product__icon {
        width: 19px;
        height: 17px;
      }

      .remove-btn .product__icon {
        width: 17px;
        height: 19px;
      }
    }

    .btn-lg {
      margin-top: 38px;
      padding: 19px;
      font-size: 16px;
    }
  }

  .modal__content_delivery {
    max-width: 475px;
    padding: 30px 25px 40px;

    .modal__text {
      font-size: 12px;
    }

    .modal__list li {
      margin-left: 15px;
    }
  }

  .modal__content_thanks {
    max-width: 475px;
    padding: 30px;

    .text-top {
      margin-bottom: 10px;
      justify-content: center;
      flex-direction: column;
      row-gap: 15px;

      img {
        width: 32px;
      }

      p {
        font-size: 30px;
      }
    }

    .text-bottom {
      max-width: 360px;
      margin: 0 auto;
      font-size: 17px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1100px) {
  .modal:has(.modal__content_cart.show) {
    padding-top: 75px;
  }
}

@media screen and (max-width: 768px) {
  .modal__content .modal__title {
    font-size: 30px;
    text-align: center;
  }

  .modal__content_calc {
    max-width: 520px;
    padding: 25px 27px 20px 30px;

    .text-top {
      vertical-align: text-top;
    }

    .modal__header {
      width: fit-content;
      margin-top: 12px;
      padding: 6px 18px 8px 23px;
      border-radius: 20px;
    }

    .details__title {
      font-size: 12px;

      .text-sm {
        display: none;
      }
    }

    .details__text {
      font-size: 16px;
    }

    .recommendation {
      margin-top: 24px;
    }

    .recommendation__text {
      margin-top: 4px;
      font-size: 12px;
    }

    .recommendation__sowing {
      display: none;
    }

    .cards {
      gap: 14px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .card {
      &__info {
        flex-direction: row;
        column-gap: 9px;
      }

      .rating__value, .review__value {
        font-size: 9px;
      }
    }

    .modal__link {
      margin-top: 35px;
      padding: 15px 30px;
      font-size: 14px;
      letter-spacing: .16em;
    }

    .modal__info {
      font-size: 12px;
    }
  }

  .modal__content_notify {
    max-width: 475px;
    padding: 45px 25px 40px;

    .modal__subtitle {
      max-width: 360px;
      margin: 5px auto 0;
      font-size: 17px;
      text-align: center;
    }

    .modal__form {
      margin-top: 40px;
    }
  }

  .modal__content_pay {
    max-width: 475px;
    padding: 30px 25px 32px;

    .modal__header {
      margin-bottom: 20px;
      gap: 9px 16px;

      &:has(+ .modal__subtitle) {
        margin-bottom: 2px;
      }
    }

    .modal__subtitle {
      font-size: 20px;
    }

    .modal__imgs {
      gap: 4px;

      img {
        width: auto;
        height: 13px;
      }
    }

    .modal__text {
      margin-top: 12px;
      font-size: 12px;
    }
  }

  .modal__content_buy {
    max-width: 475px;
    padding: 35px 30px 40px;
    border-radius: 15px;

    .modal__title {
      text-align: left;
    }

    .modal__subtitle {
      margin-top: 10px;
    }

    .modal__info {
      font-size: 10px;
    }
  }

  .modal__content_question {
    max-width: 475px;

    .modal {
      &__title {
        text-align: left;
      }

      &__form {
        row-gap: 25px;
      }
    }
  }

  .modal__content_order {
    max-width: 356px;
    padding: 29px 26px 20px;

    .modal__title {
      margin-top: 30px;
      font-size: 22px;
    }
  }

  .modal__content_cart {
    max-width: 400px;

    .product__item {
      display: grid;
      grid-template-columns: 66px 1fr 55px;
      grid-template-rows: auto auto;
      row-gap: 8px;
    }

    .product__link_img {
      grid-row: span 2;
    }

    .amount {
      grid-column-start: 2;
      grid-row-start: 2;
      margin: 0;
      margin-top: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .modal__layout {
    border-radius: 15px;
  }

  .modal__content .modal__title {
    font-size: 20px;
  }

  .modal__content_login .modal__title {
    margin-top: 27px;
  }

  .modal__content_login .modal__subtitle {
    font-size: 12px;
  }

  .modal__content .modal__form {
    margin-top: 28px;
  }

  .modal__content_login .modal__footer {
    margin-top: 10px;
  }

  .modal__content_login .modal__links {
    flex-direction: column-reverse;
    row-gap: 5px;
  }

  .modal__content_login .modal__info {
    margin-top: 18px;
    font-size: 12px;
  }

  .modal__content_login .modal__footer .btn {
    font-size: 12px;
  }

  .modal__content_login .modal__info .btn {
    display: block;
    margin: 0 auto;
    font-size: 14px;
  }

  .modal__content_calc {
    padding: 27px 20px 23px;

    .modal__header {
      padding: 9px 18px;
      flex-wrap: wrap;
      gap: 8px 25px;

      & > *:first-child {
        flex-basis: 100%;
      }

      & > *:nth-child(2) {
        order: 2;
      }
    }

    .details__title {
      font-size: 11px;
    }

    .details__text {
      margin-top: 0;
      font-size: 13px;
    }

    .recommendation {
      margin-top: 20px;

      &__header {
        align-items: flex-start;
        column-gap: 12px;
      }

      &__icon {
        width: 15px;
        height: 19px;
      }

      &__title {
        font-size: 14px;
      }

      &__text {
        margin-top: 5px;
      }
    }

    .cards {
      margin-top: 30px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      gap: 10px;
    }

    .card {
      max-width: 150px;

      &:nth-child(n+3) {
        display: none;
      }

      &__body {
        padding: 10px 9px 11px;
      }

      &__link_img {
        height: 155px;
      }

      &__link_title {
        margin-top: 9px;
      }

      .discount {
        display: none;
      }

      .rating__value, .review__value {
        font-size: 9px;
      }

      &__btn {
        padding: 7px 12px;
      }
    }

    .modal__link {
      margin-top: 30px;
      padding: 9px 20px;
      font-size: 12px;
    }

    .modal__info {
      font-size: 10px;
    }
  }

  .modal__content_share {
    max-width: 260px;
    padding: 20px 17px 23px 20px;

    .modal__title {
      font-size: 19px;
    }

    .share__list {
      justify-content: center;
      gap: 14px 16px;
    }

    .share__btn:has(.icon-tg) {
      order: 2;
    }

    .share__btn .icon {
      width: 40px;
      height: 40px;
    }
  }

  .modal__content_notify {
    max-width: 260px;
    padding: 20px 15px 25px;

    .modal__title {
      font-size: 19px;
    }

    .modal__subtitle {
      max-width: 195px;
      font-size: 12px;
    }

    .modal__form {
      margin-top: 20px;
      row-gap: 10px;

      .input,
      .btn {
        padding: 12px 20px;
        font-size: 12px;
      }
    }
  }

  .modal__content_pay {
    padding: 30px 20px;

    .modal__header {
      margin-bottom: 14px;
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 10px;
    }

    .modal__imgs {
      gap: 3px;

      img {
        height: 12px;
      }
    }

    .modal__text {
      margin-top: 15px;
    }
  }

  .modal__content_zoom .close-btn {
    top: 10px;
    right: 10px;
  }

  .modal__content_buy {
    padding: 20px 20px 27px;

    .modal__subtitle {
      font-size: 12px;
    }

    .modal__form {
      margin-top: 20px;

      .btn {
        margin-top: 20px;
        padding: 13px 25px;
        font-size: 12px;
      }

      .modal__info {
        margin-top: 10px;
        font-size: 8px;
      }
    }

    .form__body {
      padding: 17px 13px 22px;
    }

    .form__row {
      .input {
        margin-top: 7px;
        padding: 10px 12px 8px !important;
      }
    }
  }

  .modal__content_question {
    padding: 20px 20px 28px;

    .modal {
      &__form {
        margin-top: 20px;
        row-gap: 20px;

        .btn {
          padding: 12px 25px;
          font-size: 12px;
        }
      }

      &__info {
        margin-top: 10px;
        font-size: 8px;
      }
    }

    .form__body {
      padding: 17px 13px 22px;

      .textarea {
        height: 80px;
      }
    }
  }

  .modal__content_product {
    max-width: 260px;
    padding: 20px 15px;

    .modal__title {
      font-size: 19px;
    }

    .modal__subtitle {
      max-width: 175px;
      margin-top: 7px;
      font-size: 12px;
    }

    .modal__product {
      margin-top: 10px;
      padding: 10px;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 86px auto;
      grid-template-areas: 
        "img title"
        "img sale"
        "img btns"
        "count sum"
        ". price";
      gap: 12px;

      .product__img {
        grid-area: img;
      }

      .product__title {
        grid-area: title;
        max-width: 80px;
        font-size: 12px;
      }

      .product__sale {
        grid-area: sale;
        align-self: flex-start;
      }

      .product__actions {
        grid-area: btns;
        justify-content: flex-start;
        align-self: flex-end;
      }

      .product__count {
        grid-area: count;
      }

      .product__sum {
        grid-area: sum;
      }

      .product__price {
        grid-area: price;
        margin-top: -10px;
      }

      .product__details,
      .product__coast {
        display: contents;
      }

      .count__btn {
        width: 14px;
        height: 14px;
        font-size: 12px;
      }

      .product__input_counter {
        min-width: 32px;
        font-size: 11px;
        border-radius: 7px;
      }

      .product__old-sum {
        font-size: 14px;
      }

      .product__new-sum {
        font-size: 18px;
      }
    }

    .btn-lg {
      margin-top: 20px;
      padding: 12px;
      font-size: 12px;
    }
  }

  .modal__content_delivery {
    max-width: 475px;
    padding: 30px 20px 35px;

    .modal__header {
      margin-bottom: 15px;
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 5px;
    }

    .modal__list li {
      margin-left: 10px;
    }
  }

  .modal__content_order {
    max-width: 260px;
    padding: 25px 20px 30px;

    .modal__title {
      margin-top: 20px;
      font-size: 22px;
    }

    .modal__form {
      margin-top: 25px;
      row-gap: 8px;

      .input {
        padding: 12px;
        font-size: 12px;

        &[type="tel"] {
          padding: 12px;
          background-position: left 28px center;
        }
      }

      .btn {
        padding: 11px;
        font-size: 12px;
      }
    }

    .modal__info {
      margin-top: 15px;
      max-width: none;
      font-size: 10px;
      line-height: 1.35;
    }
  }

  .modal__content_thanks {
    max-width: 260px;
    padding: 30px 25px 25px;

    .text-top p {
      font-size: 19px;
    }

    .text-bottom {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 380px) {
  .modal__content_calc {
    width: 98vw;
  }
}
