$color-main: #03a753;
$color-btn-hover: #07c664;
$color-secondary: #f1f9f5;
$color-text: #1f2029;
$color-dark: #24383b;
$color-light: #fff;
$color-danger: #f22929;
$color-star: #f3c54e;


$br-sm: 4px;
$br-lg: 10px;
$br-xl: 20px;
$br-btn: 72px;
