@import 'variables';
@import 'fonts';
@import 'buttons';
@import 'inputs';
@import 'card';
@import 'comment';
@import 'accordion';
@import 'breadcrumb';
@import 'layout/settings';
@import 'layout/header';
@import 'layout/banner';
@import 'layout/advantages';
@import 'layout/category';
@import 'layout/products';
@import 'layout/discount';
@import 'layout/catalog-download';
@import 'layout/comments';
@import 'layout/articles';
@import 'layout/proposition';
@import 'layout/goods';
@import 'layout/faq';
@import 'layout/connect';
@import 'layout/contacts';
@import 'layout/catalog';
@import 'layout/pay';
@import 'layout/documents';
@import 'layout/gendirector';
@import 'layout/footer';
