.actual-projects {
  color: #000;

  &__content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 70px;
  }

  &__descr {
    font-size: 16px;
    line-height: 1.5;
    p {
      text-indent: 1.5em;
      text-align: justify;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__img {
    width: 450px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  &__subtitle {
    margin-top: 60px;
    max-width: 470px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5;
    color: $color-main;
  }

  &__list {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    max-width: 275px;
    padding: 17px 13px 14px 36px;
    font-size: 12px;
    line-height: 1.4;
    color: #24383b;
    border-radius: 15px;
    background-color: $color-secondary;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.2411 0.0225835C11.5848 -0.167249 12.7871 0.863862 12.7871 2.20618V3.31027C13.7519 3.81458 14.4093 4.81697 14.4093 5.9712V13.9921C14.4093 15.6534 13.0475 17 11.3676 17H3.25651C1.57664 17 0.214844 15.6534 0.214844 13.9921V2.76282C0.214844 2.75536 0.214982 2.74793 0.215249 2.74054C0.214982 2.729 0.214844 2.71742 0.214844 2.70581C0.214844 1.97891 0.755352 1.36262 1.48304 1.25983L10.2411 0.0225835ZM1.43151 4.16649V13.9921C1.43151 14.9889 2.24859 15.7969 3.25651 15.7969H11.3676C12.3755 15.7969 13.1926 14.9889 13.1926 13.9921V5.9712C13.1926 4.97449 12.3755 4.16649 11.3676 4.16649H1.43151ZM1.69193 2.96334H11.5704V2.20618C11.5704 1.59603 11.024 1.12734 10.4131 1.21363L1.6551 2.45087C1.52681 2.469 1.43151 2.57765 1.43151 2.70581C1.43151 2.84804 1.54811 2.96334 1.69193 2.96334ZM3.45929 8.37746C3.45929 8.04523 3.73165 7.77589 4.06762 7.77589H10.5565C10.8925 7.77589 11.1648 8.04523 11.1648 8.37746C11.1648 8.70977 10.8925 8.97903 10.5565 8.97903H4.06762C3.73165 8.97903 3.45929 8.70977 3.45929 8.37746ZM3.45929 11.1848C3.45929 10.8526 3.73165 10.5832 4.06762 10.5832H8.52873C8.8647 10.5832 9.13707 10.8526 9.13707 11.1848C9.13707 11.5171 8.8647 11.7864 8.52873 11.7864H4.06762C3.73165 11.7864 3.45929 11.5171 3.45929 11.1848Z' fill='%2303A753'/%3E%3C/svg%3E");
    background-size: 15px 17px;
    background-repeat: no-repeat;
    background-position: 15px 20px;

    &_light {
      padding: 17px 0;
      background: none;

      .btn {
        margin-top: 15px;
        padding: 6px 22.5px;
        display: inline-block;
        font-size: 10px;
      }
    }

    h4 {
      margin-bottom: 9px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.25;
      color: $color-text;
    }

    p {
      line-height: inherit;
    }
  }
}

.seligere {
  margin-top: 55px;

  &__title {
    max-width: 380px;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.35;
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
  }

  &__item {
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.5;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6.175C4.5264 6.175 4.0722 6.0038 3.73731 5.69905C3.40242 5.3943 3.21429 4.98098 3.21429 4.55C3.21429 4.11902 3.40242 3.7057 3.73731 3.40095C4.0722 3.0962 4.5264 2.925 5 2.925C5.4736 2.925 5.9278 3.0962 6.26269 3.40095C6.59758 3.7057 6.78571 4.11902 6.78571 4.55C6.78571 4.7634 6.73953 4.97471 6.64979 5.17186C6.56004 5.36901 6.42851 5.54815 6.26269 5.69905C6.09687 5.84994 5.90002 5.96964 5.68336 6.0513C5.46671 6.13297 5.2345 6.175 5 6.175ZM5 0C3.67392 0 2.40215 0.479374 1.46447 1.33266C0.526784 2.18595 0 3.34326 0 4.55C0 7.9625 5 13 5 13C5 13 10 7.9625 10 4.55C10 3.34326 9.47322 2.18595 8.53553 1.33266C7.59785 0.479374 6.32608 0 5 0Z' fill='%2303A753'/%3E%3C/svg%3E");
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-size: 10px 13px;

    h4 {
      font-weight: 500;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
    }

    p {
      margin-top: 10px;
      max-width: 175px;
      line-height: 1.5;

      &.text-long {
        max-width: 295px;
      }
    }
  }
}

.partners {
  margin-top: 70px;
  padding-bottom: 60px;
  border-bottom: 1px solid #000;

  &__title {
    max-width: 455px;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.35;
  }

  &__content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 60px 10px;
  }

  .countries {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
  }

  .contry {
    &__header {
      display: flex;
      align-items: baseline;
      gap: 6px;
    }

    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;

      .text-gray {
        margin-left: 7px;
        color: #8b8b8b;
      }
    }

    &__flag {
      width: 21px;
      height: 15px;
    }

    &__text {
      max-width: 361px;
      margin-top: 7px;
      padding-left: 27px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    background-color: $color-secondary;
    border-radius: 15px;
    flex-shrink: 0;

    &__content {
      padding: 20px 15px 40px;
    }

    &__icon {
      width: 28px;
      height: 28px;
      fill: $color-main;
    }

    &__text {
      margin-top: 10px;
      max-width: 132px;
      font-size: 12px;
      line-height: 1.5;

    }

    &__img {
      width: 224px;
      height: auto;
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .seligere__list {
    display: grid;
    grid-template-columns: 1fr 222px;
    gap: 20px 25px;
  }

  .partners {
    padding-bottom: 0;
    border: none;
  }

  .partners__content {
    flex-direction: column;
  }

  .partners .countries {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .partners .contry__header {
    gap: 8px;
  }

  .partners .contry__title .text-gray {
    display: block;
    margin-left: 2px;
  }

  .partners .contry__text {
    margin-top: 15px;
    padding-left: 29px;
  }

  .partners .info {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .partners .info__content {
    padding: 27px 23px 43px;
  }

  .partners .info__text {
    margin-top: 20px;
    max-width: 310px;
    font-size: 15px;
  }

  .actual-projects__title,
  .actual-projects__content {
    display: none;
  }

  .actual-projects__subtitle {
    margin-top: 0;
  }

  .actual-projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .actual-projects__item {
    max-width: none;
  }

  .contry-last {
    order: 2;
  }

  .partners .info__icon {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 576px) {
  .partners {
    margin-top: 40px;
  }

  .partners .countries {
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .partners .contry__title {
    font-size: 14px;

    .text-gray {
      margin-left: 0;
      display: block;
    }
  }

  .partners .contry__text {
    margin-top: 10px;
    font-size: 12px;
  }

  .partners__content {
    margin-top: 20px;
    row-gap: 57px;
  }

  .seligere__item {
    font-size: 14px;
  }

  .seligere__title,
  .partners__title,
  .actual-projects__subtitle {
    font-size: 18px;
  }

  .seligere__list {
    margin-top: 18px;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .actual-projects__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .actual-projects__item {
    padding: 40px 13px 15px;
    border-radius: 11px;
    background-position: 13px 13px;

    &_light {
      padding-top: 10px;

      p {
        font-size: 14px;
        line-height: 1.4;
      }
    }

    h4 {
      margin-bottom: 7px;
      font-size: 16px;
    }
  }

  .seligere {
    margin-top: 130px;
  }

  .seligere__item p {
    margin-top: 7px;
  }

  .partners .info__content {
    padding-top: 17px;
  }

  .partners .info__text {
    margin-top: 10px;
    max-width: 230px;
  }

  .actual-projects__item h4 {
    margin-bottom: 5px;
  }

  .actual-projects__item_light .btn {
    margin-top: 20px;
    font-size: 13px;
  }
}

@media screen and (max-width: 460px) {
  .partners .info {
    flex-direction: column;
    background-color: transparent;
  }

  .partners .info__content {
    width: 100%;
    min-height: 210px;
    background-color: $color-secondary;
    border-radius: 15px;
  }

  .partners .info__img {
    margin: -50px auto 0;
    width: 260px;
  }
}
