.advantages {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
  }

  &__btn {
    display: inherit;
    padding-right: 30px;
    margin: 25px auto 0;
    font-weight: 400;
    font-weight: 1.4;
    color: $color-main;
    text-transform: uppercase;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.5 6L12 1' stroke='%2303A753' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    background-position: right center;
    background-size: 13px 8px;
    background-repeat: no-repeat;

    &:not(.show) {
      display: none;
    }
  }
}

.advantage {
  &-card {
    width: 260px;
    padding: 23px 18px 20px;
    text-align: left;
    background-color: $color-secondary;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-blend-mode: multiply;

    &:nth-child(1) {
      background-image: url("/assets/img/advantages/0.jpg");
    }

    &:nth-child(2) {
      background-image: url("/assets/img/advantages/1.jpg");
    }

    &:nth-child(3) {
      background-image: url("/assets/img/advantages/2.jpg");
    }

    &:nth-child(4) {
      background-image: url("/assets/img/advantages/3.jpg");
    }

    &:not(.show) .advantage__descr {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 13px;
  }

  &__icon {
    flex-shrink: 0;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: $color-main;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
  }

  &__descr {
    margin-top: 20px;
  }

  &__list {
    list-style-position: inside;
  }

  &__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    &:not(:first-child) {
      margin-top: 9px;
    }

    .text-black {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 992px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .advantage-card {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .advantages .advantage-card {
    padding: 10px;
    border-radius: 10px;
    background: $color-secondary center top / cover no-repeat url("/assets/img/advantages/sm.png") ;
  }

  .advantages__list {
    gap: 15px 20px;
  }

  .advantages__btn {
    margin-top: 20px;
    padding-right: 20px;
    font-size: 12px;
    background-size: 10px 8px;
  }

  .advantage__header {
    column-gap: 15px;
  }

  .advantage__icon {
    width: 28px;
    height: 28px;

    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }
  }

  .advantage__title {
    font-size: 12px;
    line-height: 1.3;
  }

  .advantage__descr {
    margin-top: 10px;
  }

  .advantage__list {
    margin-left: 10px;

    li {
      display: block;
      background: url("/assets/img/svg/advantage-li.svg") 0 3px no-repeat;
      background-size: 7px 6px;
      padding-left: 18px;
    }
  }

  .advantage__item {
    font-size: 10px;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 576px) {
  .advantages__list {
    gap: 10px;
  }

  .advantages__btn {
    margin-top: 20px;
    font-size: 12px;
  }

  .advantage__header {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .advantage__descr {
    margin-top: 8px;
  }

  .advantage__icon {
    width: 18px;
    height: 18px;

    img {
      width: 10px;
      height: 10px;
    }
  }

  .advantage__list {
    margin-left: 0;
    gap: 10px;

    li {
      padding-left: 13px;
      font-size: 11px;
    }
  }
}
