.advantages {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
  }

  &__btn {
    display: inherit;
    padding-right: 25px;
    margin: 25px auto 0;
    font-weight: 400;
    font-weight: 1.4;
    color: $color-main;
    text-transform: uppercase;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.5 6L12 1' stroke='%2303A753' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    background-position: right center;
    background-size: 13px 8px;
    background-repeat: no-repeat;

    &:not(.show) {
      display: none;
    }
  }
}

.advantage {
  &-card {
    max-width: 260px;
    padding: 23px 18px 20px;
    text-align: left;
    background-color: $color-secondary;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-blend-mode: multiply;

    &:nth-child(1) {
      background-image: url("/assets/img/advantages/0.jpg");
    }

    &:nth-child(2) {
      background-image: url("/assets/img/advantages/1.jpg");
    }

    &:nth-child(3) {
      background-image: url("/assets/img/advantages/2.jpg");
    }

    &:nth-child(4) {
      background-image: url("/assets/img/advantages/3.jpg");
    }

    &:not(.show) .advantage__descr {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 13px;
  }

  &__icon {
    flex-shrink: 0;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: $color-main;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
  }

  &__descr {
    margin-top: 20px;
  }

  &__list {
    list-style-position: inside;
  }

  &__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    &:not(:first-child) {
      margin-top: 9px;
    }

    .text-black {
      font-weight: 600;
    }
  }
}
