.basket {
  &__title {
    .text-top {
      margin-left: 2px;
      font-size: 19px;
      color: #878787;
    }
  }

  &__header {
    margin-top: 35px;
    display: flex;
    align-items: center;
    column-gap: 15px;

    .btn {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: 11px;
    }
  }

  .btn-select-all {
    color: $color-text;
    border-color: $color-text;

    .square {
      width: 17px;
      height: 17px;
      background-color: #fff;
      border: 1px solid $color-main;
      border-radius: 2px;
    }

    &.active .square {
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.08372L2.86476 7.4521C3.44923 8.1944 4.64889 8.17998 5.21243 7.42386L10 1' stroke='%2303A753' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-position: center;
      background-size: 11px 9px;
      background-repeat: no-repeat;
    }

    &:hover {
      color: #fff;
      border-color: $color-main;
    }
  }

  .btn-remove-all {
    color: #8b8b8b;
    border-color: #8b8b8b;

    .basket__icon {
      width: 15px;
      height: 18px;
      fill: #8b8b8b;
      transition: .3s linear;
    }

    &:hover {
      color: #fff;
      border-color: $color-main;

      .basket__icon {
        fill: #fff;
      }
    }
  }

  &__layout {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    column-gap: 40px;
  }

  &__list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  &__checkout {
    max-width: 420px;
    position: sticky;
    top: 20px;

    .btn-buy,
    .btn-buy-now {
      width: 100%;
    }

    .btn-buy {
      margin-top: 25px;
    }

    .btn-buy-now {
      margin-top: 15px;
    }

    .btn-order {
      margin-top: 20px;
      width: 100%;
      color: $color-main;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__item {
    padding: 15px;
    border-radius: 15px;
    background: #FAFAFA;
  }

  .basket-product {
    display: flex;
    column-gap: 10px;
    line-height: 1.2;

    &__checkbox {
      width: 17px;
      height: 17px;
      border-radius: 3px;
      border: 1px solid $color-main;
      flex-shrink: 0;
      cursor: pointer;

      &.checked {
        background-color: $color-main;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.08372L2.86476 7.4521C3.44923 8.1944 4.64889 8.17998 5.21243 7.42386L10 1' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        background-size: 11px 9px;
        background-repeat: no-repeat;
      }
    }

    &__link {
      &_picture {
        width: 86px;
        height: 125px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      &_title {
        max-width: 190px;
        font-weight: 500;
        font-size: 18px;
        text-align: left;
      }
    }

    &__descr {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 7px;
    }

    &__subtitle {
      flex: 1 0 auto;
      max-width: 190px;
      font-size: 9px;
      color: #8b8b8b;
    }

    &__message {
      padding: 3px 9px;
      font-size: 10px;
      color: #fff;
      text-transform: uppercase;
      border-radius: $br-btn;

      &_active {
        background: $color-main;
      }

      &_danger {
        background: #F04A4A;
      }
    }

    &__count {
      margin-left: 50px;
      margin-right: auto;
    }

    &__counter {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }

    .basket-count__btn {
      flex-shrink: 0;
      width: 17px;
      height: 17px;
      border: 1px solid $color-main;
      border-radius: 50%;
      background: #fff;
      color: $color-main;
      font-weight: 400;
      font-size: 15px;
      line-height: 1;

      &:disabled,
      &[disabled] {
        color: #AAD4BF;
        border-color: #AAD4BF;
        cursor: default;
        pointer-events: none;
      }
    }

    &__input_counter {
      width: auto;
      padding: 3px 10px;
      font-size: 12px;
      text-align: center;

      .text-danger {
        color: #ff4747;
      }
    }

    &__limited {
      margin-top: 5px;
      font-size: 7px;
      text-align: center;
    }

    &__coast {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
    }

    &__sum {
      display: flex;
      justify-content: flex-end;
      column-gap: 10px;
      align-items: last baseline;
    }

    &__old-sum {
      font-size: 18px;
      color: #FEBABA;
      text-decoration: line-through;
    }

    &__new-sum {
      font-weight: 500;
      font-size: 25px;
      color: $color-main;
    }

    &__price {
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      column-gap: 5px;
      line-height: 1.6;
    }

    &__old-price {
      font-size: 10px;
      color: #C1C1C1;
    }

    &__new-price {
      font-weight: 500;
      font-size: 12px;
      color: #9C9EA0;

      .text-gray {
        font-weight: 400;
        font-size: 8px;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 6px;

      .wishlist-btn {
        stroke: $color-main;
        fill: none;

        &.active {
          fill: $color-main;
        }
      }

      .remove-btn {
        fill: #8b8b8b;
      }
    }
  }

  .checkout-total {
    padding: 25px 25px 35px;
    border-radius: 15px;
    background: $color-secondary;

    &__header {
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      border-bottom: 1px solid #bcbcbc;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title,
    &__sum {
      font-size: 15px;
      color: #9c9ea0;
    }

    &__discount,
    &__discount_value {
      font-size: 14px;
      color: #ff4747;
    }

    &__title,
    &__discount {
      font-weight: 500;
    }

    &__info {
      margin-top: 20px;
      font-size: 15px;
      font-weight: 500;
      color: #ff4747;

      .attention {
        margin-right: 4px;
        width: 18px;
        height: 18px;
        font-size: 14px;
        line-height: 1.2;
        color: #fff;
        background: #ff4747;
      }
    }

    &__body {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: last baseline;
      font-size: 25px;
      color: #000;
    }

    &__result {
      font-weight: 500;
      font-size: 30px;
      color: $color-main;
    }

    &__delivery {
      max-width: 180px;
      margin-top: 5px;
      font-size: 11px;
      color: #9c9ea0;
    }

    &__form {
      margin-top: 25px;
      display: flex;
      column-gap: 12px;
      align-items: center;

      .input {
        padding: 11px 15px;
        font-size: 11px;
        text-align: center;
        border: 1px solid $color-main;

        &::placeholder {
          color: #6a6a6a;
        }
      }

      .btn {
        color: #24383b;
        border-color: #24383b;

        &:hover {
          color: #fff;
          border-color: $color-main;
        }
      }
    }

    &__subtext {
      margin-top: 10px;
      font-size: 11px;
      color: #9c9ea0;
      text-align: center;
    }
  }

  &__top {
    width: calc(100% - 460px);
    margin-top: 15px;
    display: flex;
    align-items: baseline;
    column-gap: 20px;
    font-size: 14px;

    .delivery-info {
      margin-left: auto;

      button {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
        color: #8b8b8b;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__item_delivery {
    padding: 20px 20px 25px;
    border-radius: 15px;
    background: #f4f4f4;
    transition: background-color .3s linear;

    .title {
      font-size: 18px;
      font-weight: 400;
      color: #000;
    }

    .layout {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 13px;
    }

    .radio {
      padding: 10px;
      border-radius: 8px;
      background: #fff;
      font-size: 10px;
      color: #000;
      flex-basis: 210px;
      align-items: flex-start;

      label {
        width: 100%;
        align-items: flex-start;
      }

      &__label {
        margin-left: 5px;
        flex-grow: 1;
      }

      &__header {
        display: flex;
        justify-content: space-between;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          text-align: right;
        }
      }

      &__title {
        font-size: 14px;
      }

      &__info {
        margin-top: 3px;
        font-size: 10px;
        color: #8b8b8b;      
      }

      &__footer {
        margin-top: 12px;
        display: flex;
        align-items: last baseline;
        justify-content: space-between;

        img {
          width: auto;
          height: 15px;
          flex-shrink: 0;
        }
      }

      &__sum {
        font-size: 12px;
      }
    }

    .form-organization,
    .form-recipient {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px 13px;

      .input {
        flex: 1 0 210px;
        max-width: none;
        padding: 7px 10px;
        font-size: 12px;
        border-radius: 8px;
        color: #000;

        &::placeholder {
          color: #8b8b8b;
        }
      }
    }

    .form-organization {
      .input:nth-child(-n + 2) {
        flex-basis: 320px;
      }
    }

    .form-promo-code {
      margin-top: 15px;
      display: flex;
      align-items: center;
      column-gap: 20px;

      .form__block {
        position: relative;
        z-index: 0;
        flex-grow: 1;

        .discont-text {
          position: absolute;
          z-index: 0;
          top: 50%;
          right: 15px;
          font-size: 10px;
          transform: translateY(-50%);
          overflow: hidden;
          opacity: 0;
          transition: opacity .3s ease-in-out;

          &.show {
            overflow: visible;
            opacity: 1;
          }
        }
      }

      .input {
        max-width: 100%;
        padding: 11px 25px;
        font-size: 12px;
        color: #6a6a6a;
        text-align: center;
        border-radius: 30px;
        text-transform: uppercase;

        &::placeholder {
          color: #6A6A6A;
        }
      }
    }
  }
}

.basket__item_delivery:has(.form-promo-code input:not(:placeholder-shown)),
.basket__item_delivery:has(.form-organization input:not(:placeholder-shown)),
.basket__item_delivery:has(.form-recipient input:not(:placeholder-shown)) {
  background: $color-secondary;
}

.basket__item_delivery:has(.radio input[type="radio"]:checked) {
  background: $color-secondary;

  .radio:has(input[type="radio"]:not(:checked)){
    opacity: .6;
    background: #F9FDFB;
  }
}
