.blog {
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .select-tema {
    padding: 10px 20px;
    font-size: 11px;
    line-height: 1.6;
    color: #8b8b8b;
    border: 1px solid #8b8b8b;
    border-radius: $br-btn;
    display: flex;
    align-items: center;
    gap: 10px;

    &__icon {
      fill: #8b8b8b;
      line-height: 1;
    }
  }

  &__layout {
    margin-top: 40px;
    display: flex;
    align-items: start;
    gap: 23px;
  }

  &__sidebar {
    width: 185px;
    flex-shrink: 0;
  }

  .side-filters{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__btn {
      width: 100%;
      padding: 0 10px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      font-size: 11px;
      font-weight: 400;
      color: #000;
      transition: all .3s ease-in-out;

      &.active {
        padding: 7px 10px;
        background: $color-main;
        color: #fff;
      }
    }

    &__icon {
      margin-right: 13px;
      width: 21px;
      height: 21px;
      border: 1px solid $color-main;
      border-radius: 50%;
      fill: $color-main;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;

      &_stroke {
        fill: none;
        stroke: $color-main;
      }
    }
  }

  &__inserted {
    margin-top: 30px;
  }
}

.media-links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.media-link {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: $color-main;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 13px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: $color-main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top-wrap {
  .article {
    background: $color-secondary;
    border-radius: 20px;
    display: flex;
    column-gap: 30px;
    color: #000;

    &__img {
      width: 585px;
      min-height: 285px;
      object-fit: cover;
      flex-shrink: 0;
      border-radius: 20px 0 0 20px;
    }

    &__text {
      padding: 20px 35px 20px 0;
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &__top {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: 11px;
    }

    &__tema {
      color: $color-main;
    }

    &__data {
      color: #00000050;
    }

    &__title {
      margin-top: 25px;
      font-size: 20px;
    }

    &__descr {
      margin-top: 10px;
      font-weight: 300;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      line-clamp: 7;
      box-orient: vertical;
      flex: 1 0 auto;
    }

    .btn {
      margin-top: 15px;
      padding: 5px 15px;
      font-size: 10px;
    }
  }
}

.main-articles {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 25px;

  .proposition {
    margin: 20px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    &__content {
      padding: 30px 35px 15px;
    }
  }
}

.article-card {
  max-width: 300px;
  border-radius: 10px;
  background: $color-secondary;

  &__img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  &__text {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
  }

  &__tema {
    color: $color-main;
  }

  &__data {
    color: #00000050;
  }

  &__title {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    flex: 1 0 auto;
  }

  .btn {
    margin-top: 25px;
    padding: 6px 20px;
  }
}
