.cabinet {
  .tabs {
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    gap: 30px;

    &__nav {
      padding: 3px 23px 13px;
      display: flex;
      flex-direction: column;
      background: $color-secondary;
      border: none;
      border-radius: 24px;

      &-item {
        padding: 20px 0;

        &:not(:last-child) {
          border-bottom: 1px solid #bcbcbc;
        }
      }

      &-btn {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
        fill: #b4b4b4;
        transition: color .2s linear, fill .2s linear;

        &--active {
          color: $color-main;
          fill: $color-main;
        }

        &--icon {
          width: 17px;
          height: 19px;
          margin-right: 8px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    &__content {
      width: calc(100% - 340px);
    }

    &__panel {
      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .sidebar {
    max-width: 310px;
  }

  .logout-btn {
    display: inline-block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 11px;
    fill: #8b8b8b;
    color: #8b8b8b;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid #8b8b8b;
    border-radius: $br-xxl;

    &--icon {
      width: 17px;
      height: 17px;
    }
  }

  .orders {
    margin-top: 20px;

    &__item {
      &:not(:first-child) {
        margin-top: 40px;
      }
    }

    &__title {
      padding: 15px 20px 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.4;
      background: $color-secondary;
      border-radius: 10px;
    }
  }

  .order {
    margin-top: 20px;
    padding: 15px 25px 25px;
    border-radius: 15px;
    background: $color-secondary;

    &__header {
      display: flex;align-items: center;
      column-gap: 15px;
    }

    &__status {
      padding: 5px 18px;
      font-size: 10px;
      font-weight: 600;
      line-height: 1.6;
      color: #fff;
      text-transform: uppercase;
      background: $color-main;
      border-radius: $br-xxl;

      &_active {
        background: #ec9c00;
      }

      &_failed {
        background: #f04a4a;
      }
    }

    &__number {
      font-size: 15px;
      line-height: 1.2;
    }

    &__slider {
      margin-top: 20px;

      .splide__arrow--prev {
        display: none;
      }

      .splide__slide {
        display: flex;
        column-gap: 10px;
      }

      &-img {
        width: 66px;
        height: 78px;
        object-fit: cover;
        border-radius: 6px;
        flex-shrink: 0;
      }

      &-descr {
        display: flex;
        flex-direction: column;
      }

      &-title {
        max-width: 120px;
        font-size: 12px;
        color: #808080;
        flex: 1 0 auto;
      }

      &-sum {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.3;
        color: #000;
      } 

      &-details {
        font-size: 10px;
        line-height: 1.3;
        color: #7f7f7f;
      }
    }

    &__sum {
      &-text {
        margin-top: 25px;
        font-size: 15px;
        line-height: 1.2;
      }

      &-price {
        margin-top: 5px;
        font-weight: 500;
        font-size: 30px;
      }
    }

    &__details {
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 20px 40px;
      line-height: 1.4;

      &-title {
        font-weight: 500;
        font-size: 16px;
        color: #000;
      }

      &-text {
        margin-top: 5px;
        font-size: 14px;
      }

      &-subtext {
        font-size: 10px;
      }

      &-item--user {
        padding: 15px;
        background: #fff;
        border-radius: 10px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
  }

  .address {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__item {
      padding: 15px;
      background-color: #f4f4f4;
      border-radius: 10px;
      color: #000;
      transition: background-color .3s;

      &:has(.radio input[type="radio"]:checked) {
        background-color: $color-secondary;
      }
    }

    .radio {
      font-size: 16px;
    }

    label {
      width: 100%;
    }

    &__label {
      width: 100%;

      &_form {
        .input {
          max-width: none;
          padding: 8px 10px;
          font-size: 12px;
          line-height: 1.2;
          border-radius: 8px;
          flex: 1 1 155px;

          &:first-child {
            flex-basis: 100%;
          }
        }

        .textarea {
          max-height: 65px;
          padding: 10px;
          font-size: 12px;
          border-radius: 8px;
        }

        .form__body {
          margin: 20px 0 10px;
          max-width: 660px;
          display: flex;
          flex-wrap: wrap;
          gap: 13px;
        }
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-weight: 400;
      font-size: 20px;
    }

    &__footer {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__info {
      font-size: 12px;
      color: #8b8b8b;
    }

    &__actions {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .tooltip__text {
        padding: 2px 6px;
        font-weight: 500;
        font-size: 8px;
        letter-spacing: .05em;
        border-radius: $br-xxl;
      }

      .btn-change {
        line-height: 1;
        stroke: #000;

        & + .tooltip__text {
          right: 0;
          bottom: calc(100% + 6px);
          color: #000;
          background-color: #fff;
        }
      }

      .btn-delete {
        line-height: 1;
        stroke: none;
        fill: #f22929;

        & + .tooltip__text {
          right: 0;
          bottom: calc(100% + 6px);
          color: #fff;
          background-color: #f22929;
        }
      }
    }

    .btn {
      padding: 6px 15px;
      font-size: 10px;
    }
  }

  .wishlist {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      position: relative;
      z-index: 0;
      width: 190px;
      border-radius: 15px;

      &__body {
        padding: 10px 15px 20px;
      }

      &__link_img {
        height: 230px;

        img {
          border-radius: 15px 15px 0 0;
        }
      }

      .new-price {
        font-size: 20px;

        .text-gray {
          font-size: 10px;
        }
      }

      .old-price {
        font-size: 15px;
      }

      .discount {
        font-size: 14px;
      }

      &__link_title {
        margin-top: 5px;
        font-size: 14px;
      }

      &__info {
        margin-top: 5px;
        column-gap: 10px;
      }

      .rating__icon {
        width: 10px;
        height: 10px;
      }

      .rating__value {
        font-size: 10px;
      }

      .review {
        column-gap: 5px;
        img {
          width: 11px;
        }

        &__value {
          font-size: 10px;
        }
      }

      &__btn {
        margin-top: 15px;
        padding: 7.5px 10px;
        font-size: 9px;
      }

      .btn-is-wishlist {
        position: absolute;
        z-index: 5;
        top: 10px;
        right: 8px;

        .is-wishlist__icon {
          fill: #f22929;
        }
      }
    }
  }

  .chat {
    margin-top: 20px;
    padding: 25px 20px 20px;
    border-radius: 15px;
    background: #f4f4f4;

    &__body {
      height: 315px;
      padding: 30px 20px;
      background: #fff;
      border-radius: 8px;
      font-size: 12px;
      line-height: 1.4;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      padding: 10px 15px;
      overflow-y: auto;
    }

    &__number {
      text-align: center;
    }

    &__row {
      display: flex;
      align-items: last baseline;
      gap: 10px;

      &_user {
        flex-direction: row-reverse;
      }

      p {
        max-width: 355px;
        padding: 10px 15px;
        background: $color-secondary;
        border-radius: 10px;
      }

      time {
        font-size: 12px;
        color: #acacac;
      }
    }

    &__form {
      margin-top: 20px;
      display: flex;
      column-gap: 15px;

      .input {
        max-width: none;
        padding: 10px 20px;
        font-size: 12px;
      }

      .btn {
        flex-shrink: 0;
        font-size: 12px;
      }
    }
  }

  .settings {
    margin-top: 20px;

    &__row {
      padding: 20px 20px 40px;
      border-radius: 15px;
      background: #f4f4f4;

      &:not(:first-child) {
        margin-top: 25px;
      }
    }

    &__title {
      font-weight: 500;
      font-size: 18px;
    }

    &__form {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 17px 13px;

      .form__block {
        flex-basis: 185px;
        display: flex;
        flex-direction: column;
        row-gap: 7px;

        label {
          font-size: 10px;
          color: #767676;
        }

        .input {
          padding: 9px 10px;
          border-radius: 8px;
          font-size: 12px;
          line-height: 1.2;
          max-width: 185px;
        }

        &_row {
          margin-top: 7px;
          display: flex;
          flex-direction: row;
          column-gap: 19px;
        }
      }
    }

    .form-password {
      align-items: flex-end;

      .form__block {
        flex-basis: 250px;
      }

      .input {
        max-width: 250px;
      }

      .btn {
        font-size: 10px;
        padding: 9px 20px;
      }

      .settings__btn-icon {
        margin-right: 6px;
        stroke: #fff;
        vertical-align: middle;
      }
    }

    &__btn {
      margin-top: 50px;
    }
  }

  .credit-cards {
    margin-top: 20px;
    display: flex;
    gap: 13px;

    & > * {
      width: 185px;
      height: 105px;
      padding: 10px;
      border-radius: 8px;
      background: #fff;
    }

    .credit-card {
      display: flex;
      flex-direction: column;

      &__icon {
        flex: 1 0 auto;
      }

      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
      }

      &__add {
        border: 2px solid $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__img {
        width: 46px;
        height: 46px;
        stroke: $color-main;
      }
    }
  }
}
