.catalog-download {
  padding-top: 0;
  
  .content {
    height: 190px;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-main center / contain no-repeat url("../img/catalog-download-bg.jpg");
    border-radius: 15px;

    img {
      width: 130px;
      height: auto;
      transform: rotate(14.83deg);
    }
  }

  .title {
    max-width: 560px;
    font-size: 40px;
    line-height: 1.25;
    color: $color-light;
  }

  .subtitle,
  .subtitle__link {
    font-size: 11px;
    line-height: 1.4;
    color: $color-light;
  }

  .subtitle__link {
    text-decoration: underline;
  }

  &__form {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    input {
      padding: 20px 25px;
      color: #24383b;
      background-color: $color-light;
      border: none;
      text-align: center;
      border-radius: $br-xxl;
    }

    button {
      width: 100%;
      padding: 23px 25px;
      font-weight: 600;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: $color-light;
      background-color: #24383b;
      border-radius: $br-xxl;
    }
  }
}
