.category {
  padding-top: 45px;

  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }

  &__item {
    width: 360px;
    height: 240px;
    padding: 35px 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
    text-align: left;
    border-radius: $br-xl;
    background-color: $color-secondary;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-child(1) {
      background-image: url("/assets/img/category/0.png");
    }

    &:nth-child(2) {
      background-image: url("/assets/img/category/1.png");
    }

    &:nth-child(3) {
      background-image: url("/assets/img/category/2.png");
    }
  }
}

@media screen and (max-width: 768px) {
  .category__list {
    row-gap: 20px;
  }

  .category__item {
    width: 100%;
    height: 125px;
    padding: 35px 40px;
    font-size: 20px;

    &:nth-child(1) {
      background-image: url("/assets/img/category/sm0.png");
    }

    &:nth-child(2) {
      background-image: url("/assets/img/category/sm1.png");
    }

    &:nth-child(3) {
      background-image: url("/assets/img/category/sm2.png");
    }
  }
}

@media screen and (max-width: 576px) {
  .category {
    padding-top: 25px;
  }

  .category__list {
    margin-top: 20px;
    row-gap: 15px;
  }

  .category__item {
    padding: 20px;
    font-size: 17px;
  }
}

@media screen and (max-width: 450px) {
  .category__item {
    &:nth-child(1) {
      background-image: url("/assets/img/category/es0.png");
    }

    &:nth-child(2) {
      background-image: url("/assets/img/category/es1.png");
    }

    &:nth-child(3) {
      background-image: url("/assets/img/category/es2.png");
    }
  }

  .category__title + .btn-lg {
    display: none;
  }
}
