.catalog-download {
  .content {
    height: 190px;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-main center / cover no-repeat url("/assets/img/catalog-download-bg.avif");
    border-radius: 15px;

    img {
      width: 130px;
      height: auto;
      transform: rotate(14.83deg);
    }
  }

  .title {
    max-width: 560px;
    font-size: 40px;
    line-height: 1.25;
    color: $color-light;
  }

  .subtitle,
  .subtitle__link {
    font-size: 11px;
    line-height: 1.4;
    color: #fff;
  }

  .subtitle__link {
    text-decoration: underline;
  }

  &__form {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 10px;
    text-align: center;

    input {
      padding: 21px 25px;
      font-size: 14px;
      letter-spacing: .04em;
      color: #24383b;
      background-color: $color-light;
      border: none;
      text-align: center;
      border-radius: $br-btn;
    }

    button {
      letter-spacing: 0.12em;
    }
  }
}

@media screen and (min-width: 1201px) {
  .catalog-download {
    padding-top: 0;
  }

  .catalog-download__form .subtitle {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .catalog-download .content {
    padding: 25px 20px 20px;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 25px;
  }

  .catalog-download .title {
    max-width: 500px;
    font-size: 30px;
    & + .subtitle {
      display: none;
    }
  }

  .catalog-download .content img {
    margin-top: -40px;
    width: 100px;
  }

  .catalog-download__form {
    max-width: inherit;
    flex-wrap: wrap;
    flex-direction: row;

    input {
      padding: 20px 30px;
    }

    .form-btn {
      max-width: 210px;
    }

    .subtitle {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 992px) {
  .catalog-download .title {
    max-width: 365px;
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .catalog-download .content {
    padding: 30px 20px 20px;
    row-gap: 20px;
  }

  .catalog-download .content img {
    width: 75px;
  }

  .catalog-download__form {
    row-gap: 4px;
  }

  .catalog-download__form input {
    width: 100%;
    max-width: 310px;
  }
}

@media screen and (max-width: 576px) {
  .catalog-download .content {
    justify-content: space-between;
    gap: 15px;
  }

  .catalog-download__descr {
    max-width: 58%;
  }

  .catalog-download .title {
    font-size: 18px;
    font-weight: 400;
  }

  .catalog-download .content img {
    margin-top: -35px;
    width: 80px;
  }

  .catalog-download__form input,
  .catalog-download__form .form-btn {
    width: 100%;
    max-width: 100%;
    padding: 12px 25px;
    line-height: 1.6;
  }
}
