.catalog {
  &-wrapper {
    display: flex;
    column-gap: 20px;
  }

  &__content {
    width: calc(100% - 280px);
  }

  .sidebar {
    max-width: 260px;
    padding: 20px 15px;
    background: $color-secondary;
    border-radius: 15px;
  }

  &-settings {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__view {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &-settings__sorting {
    display: flex;
    align-items: center;
  }

  &-select {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &__label {
      margin-left: 35px;
      font-size: 16px;
      line-height: 1.4;
      flex-shrink: 0;
    }
  }

  &-view__btn {
    svg {
      fill: #DCE8E2;
    }

    &_active svg {
      fill: $color-main;
    }
  }

  &-slider {
    .splide__slide {
      padding: 22px 55px 28px;
      color: $color-light;
      min-height: 190px;
      border-radius: 8px;
      background-position: 90% center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .splide__arrow {
      width: 24px;
      height: 24px;
      background: #fff;
      opacity: 1;

      svg {
        fill: $color-main;
      }
    }

    &__title {
      max-width: 355px;
      font-weight: 700;
      line-height: 1.3;
      font-size: 32px;
      color: $color-light;

      .sub-title {
        display: inline-block;
        max-width: 225px;
        font-size: 12px;
      }
    }

    &__link {
      display: inline-block;
      margin-top: 20px;
      padding: 12px 24px;
      color: $color-text;
      background-color: $color-light;
      border-radius: $br-btn;
    }

    .splide__pagination {
      bottom: 15px;
      padding: 0;
      gap: 10px;

      &__page {
        width: 10px;
        height: 10px;
        margin: 0;
        flex-shrink: 0;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.25);

        &.is-active {
          transform: scale(1);
          background-color: #fff;
        }
      }

      li {
        line-height: 0;
      }
    }
  }

  &-selection {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px 9px;

    &__btn {
      padding: 9px 20px;
      font-weight: 600;
      font-size: 11px;
      text-transform: uppercase;
      background-color: $color-secondary;
      border-radius: $br-btn;

      &_plus {
        width: 46px;
        font-size: 20px;
        color: #fff;
        background-color: $color-main;
        border: none;
        border-radius: $br-btn;
      }
    }

    &__qantity {
      font-weight: 400;
    }
  }

  &-grid {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 10px;

    .card {
      width: 205px;
      border-radius: 15px;

      &__body {
        padding: 15px;
        border-radius: 0 0 15px 15px;
      }

      &__link_img {
        height: 270px;
        border-radius: 15px 15px 0 0;

        img {
          border-radius: 15px 15px 0 0;
        }
      }

      &__link_title {
        font-size: 15px;
      }

      .new-price {
        font-size: 22px;

        .text-gray{
          font-size: 11px;
        }
      }

      .old-price,
      .discount {
        font-size: 15px;
      }

      .rating__value,
      .review__value {
        font-size: 12px;
      }

      &__btn {
        padding: 10px 12px;
        font-size: 12px;
        border-radius: 60px;
      }
    }
  }

  &__inserted {
    margin-top: 40px;
  }
}

.pagination {
  margin-top: 15px;
  display: flex;
  gap: 20px;

  &__list {
    margin-left: auto;
    display: flex;
    gap: 6px;
  }

  &__btn {
    min-width: 26px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .16em;
    border: 1px solid $color-main;
    border-radius: 7px;
    text-align: center;

    &_active {
      color: #fff;
      background-color: $color-main;
      cursor: default;
      user-select: none;
    }

    &_more {
      width: 30px;
      height: 100%;
      background-position: left 0 center;
      background-size: 8px 8px;
      background-repeat: space no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4'/%3E%3C/svg%3E%0A");
      filter: invert(92%) sepia(12%) saturate(175%) hue-rotate(96deg) brightness(100%) contrast(91%);
    }
  }

  .forward-page {
    padding: 4px 12px;
  }

  .all-pages {
    padding: 4px 18px;
    border: none;
    text-transform: uppercase;
  }
}

.sidebar {
  width: 100%;
  align-self: start;
  flex-shrink: 0;

  &-block {
    &:not(:first-child) {
      margin-top: 15px;
    }

    &__btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
      }

      &-icon {
        width: 11px;
        height: 7px;
        stroke: $color-text;
        transition: transform .2s linear, stroke .2s linear;
      }
    }

    &:not(.open) {
      .sidebar-block__inner {
        display: none;
      }
    }

    &.open {
      .sidebar-block__btn-icon {
        stroke: $color-main;
        transform: scaleY(-1);
      }
    }
  }

  &-form {
    margin: 25px 0;


    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
    }

    &__inner {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .rz-slider-wrapper {
      margin-top: 20px;
    }

    &__col {
      position: relative;
    }

    &__label {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      font-weight: 400;
      font-size: 14px;
      color: #6b6b6b;
    }

    &__value {
      width: 100%;
      max-width: 110px;
      padding: 7px 20px 8px 32px;
      line-height: 1;
      border: none;
      outline: none;
      border-radius: 10px;
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
    }
  }

  .filter-list {
    margin-top: 10px;
    padding-left: 5px;

    &__item {
      &:not(:first-child) {
        margin-top: 7px;
      }
    }

    &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: #6b6b6b;
    }
  }

  .checkbox-filter {
    margin-top: 10px;

    &__item:not(:first-child) {
      margin-top: 9px;
    }

    &__link {
      position: relative;
      display: block;
      padding-left: 30px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      text-align: left;
      transition: all .2s ease;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 17px;
        height: 17px;
        border: 1px solid $color-main;
        border-radius: 2px;
        background-color: #fff;
        transform: translateY(-50%);
        transition: background-image 02s ease-in-out;
      }

      &--checked {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.08372L2.86476 7.4521C3.44923 8.1944 4.64889 8.17998 5.21243 7.42386L10 1' stroke='%2303A753' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          background-position: center;
          background-size: 11px 9px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.select {
  &-sorting {
    max-width: 200px;
    font-size: 12px;
    font-weight: 600;
  }

  &-value {
    flex-shrink: 0;
    width: max-content;
    padding: 9px 35px 9px 15px;
    border-radius: 15px;
    font-size: 17px;
  }
}

.rz-slider {
  height: 2px;
  position: relative;
  z-index: 0;
  background: #ddd;
  border-radius: 5px;

  .progress{
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    background: $color-main;
  }
}

.range-input{
  position: relative;
  z-index: 0;
}
.range-input input{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 2px;
  top: -2px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb{
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  cursor: pointer;
}


