.catalog {
  &-wrapper {
    display: flex;
    column-gap: 20px;
  }

  &__content {
    width: calc(100% - 280px);
  }

  .sidebar {
    max-width: 260px;
    padding: 5px 15px 25px;
    align-self: flex-start;
    background-color: $color-secondary;
    border-radius: 15px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;

      .sidebar__title {
        padding-left: 23px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .05em;
        text-decoration: underline;
        text-transform: uppercase;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.625 7.5V1M14 14V11.5625M2.625 14V10.75M14 8.3125V1M8.3125 3.4375V1M8.3125 14V6.6875' stroke='%2303A753' stroke-linecap='round'/%3E%3Cpath d='M2.625 10.75C3.52246 10.75 4.25 10.0225 4.25 9.125C4.25 8.22754 3.52246 7.5 2.625 7.5C1.72754 7.5 1 8.22754 1 9.125C1 10.0225 1.72754 10.75 2.625 10.75Z' stroke='%2303A753' stroke-linecap='round'/%3E%3Cpath d='M8.3125 6.6875C9.20996 6.6875 9.9375 5.95996 9.9375 5.0625C9.9375 4.16504 9.20996 3.4375 8.3125 3.4375C7.41504 3.4375 6.6875 4.16504 6.6875 5.0625C6.6875 5.95996 7.41504 6.6875 8.3125 6.6875Z' stroke='%2303A753' stroke-linecap='round'/%3E%3Cpath d='M14 11.5625C14.8975 11.5625 15.625 10.835 15.625 9.9375C15.625 9.04004 14.8975 8.3125 14 8.3125C13.1025 8.3125 12.375 9.04004 12.375 9.9375C12.375 10.835 13.1025 11.5625 14 11.5625Z' stroke='%2303A753' stroke-linecap='round'/%3E%3C/svg%3E");
        background-position: left center;
        background-repeat: no-repeat;
      }

      .close-btn {
        width: 20px;
        height: 20px;
        background-size: 10px 10px;
      }
    }
  }

  &-settings {
    &__view {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__sorting {
      display: flex;
      align-items: center;
      column-gap: 35px;
    }
  }

  &-select {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &__label {
      font-size: 16px;
      line-height: 1.4;
      flex-shrink: 0;
    }
  }

  &-view__btn {
    &:hover svg {
      fill: $color-btn-hover
    }
    svg {
      width: 36px;
      height: 36px;
      fill: #DCE8E2;
      transition: fill .3s ease-in-out;
    }

    &_active svg {
      fill: $color-main;
    }
  }

  &-slider {
    .splide__slide {
      padding: 22px 55px 28px;
      color: $color-light;
      height: 190px;
      border-radius: 8px;
    }

    .splide__arrow {
      width: 24px;
      height: 24px;
      background: #fff;
      opacity: 1;

      svg {
        fill: $color-main;
      }
    }

    .banner__title {
      max-width: 370px;
      font-weight: 700;
      line-height: 1.3;
      font-size: 32px;
      letter-spacing: .02em;
      color: $color-light;

      .banner__text {
        display: inline-block;
        margin-left: 3px;
        max-width: 230px;
        font-size: 12px;
      }
    }

    .banner__link {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 22px;
      font-size: 12px;
      letter-spacing: .05em;
      color: $color-text;
      background-color: $color-light;
      border-radius: $br-btn;
    }

    .splide__pagination {
      bottom: 15px;
      padding: 0;
      gap: 10px;

      &__page {
        width: 10px;
        height: 10px;
        margin: 0;
        flex-shrink: 0;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.25);

        &.is-active {
          transform: scale(1);
          background-color: #fff;
        }
      }

      li {
        line-height: 0;
      }
    }
  }

  &__control {
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px 35px;
  }

  &-selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px 11px;

    &__btn {
      flex-shrink: 0;
      padding: 9px 19px 8px;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background-color: $color-secondary;
      border-radius: $br-btn;

      &_plus {
        flex-shrink: 0;
        width: 46px;
        font-size: 20px;
        color: #fff;
        background-color: $color-main;
        border: none;
        border-radius: $br-btn;

        &:hover {
          background-color: $color-btn-hover;
        }
      }
    }

    &__qantity {
      font-weight: 400;
    }
  }

  &-grid {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 21px 10px;

    .card {
      width: 205px;
      border-radius: 15px;
    }

    &.catalog-grid_col {
      flex-direction: column;
      gap: 25px;

      .card {
        width: 100%;
        max-width: none;
        border-radius: 17px;
        flex-direction: row;
      }
    }
  }

  &__inserted {
    margin-top: 60px;
  }
}

.pagination {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 20px;

  &__list {
    margin-left: auto;
    display: flex;
    gap: 5px;
  }

  &__btn {
    min-width: 26px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .16em;
    border: 1px solid $color-main;
    border-radius: 7px;
    text-align: center;

    &_active {
      color: #fff;
      background-color: $color-main;
      cursor: default;
      user-select: none;
    }

    &_more {
      width: 30px;
      height: 100%;
      background-position: left 0 center;
      background-size: 8px 8px;
      background-repeat: space no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4'/%3E%3C/svg%3E%0A");
      filter: invert(92%) sepia(12%) saturate(175%) hue-rotate(96deg) brightness(100%) contrast(91%);
    }
  }

  .forward-page {
    padding: 0 10px;
  }

  .all-pages {
    padding: 4px 18px;
    border: none;
    text-transform: uppercase;
  }
}

.sidebar {
  width: 100%;
  flex-shrink: 0;

  &-block {
    & {
      margin-top: 15px;
    }

    &__btn {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      
      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
      }

      &-icon {
        width: 11px;
        height: 7px;
        stroke: $color-text;
        transition: transform .2s linear, stroke .2s linear;
      }

      .text-gray {
        order: 2;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
      }
    }

    &:not(.open) {
      .sidebar-block__inner {
        display: none;
      }
    }

    &.open {
      .sidebar-block__btn-icon {
        stroke: $color-main;
        transform: scaleY(-1);
      }
    }
  }

  &-form {
    margin-top: 21px;

    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
    }

    &__inner {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .rz-slider-wrapper {
      margin-top: 25px;
    }

    &__col {
      position: relative;
    }

    &__label {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-weight: 400;
      font-size: 14px;
      color: #6b6b6b;
    }

    &__value {
      width: 100%;
      max-width: 110px;
      padding: 7px 20px 8px 35px;
      line-height: 1;
      border: none;
      outline: none;
      border-radius: 10px;
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
    }
  }

  .filter-list {
    margin-top: 8px;
    padding-left: 10px;

    &__item {
      &:not(:first-child) {
        margin-top: 7px;
      }
    }

    &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: #6b6b6b;
    }
  }

  .checkbox-filter {
    margin-top: 10px;

    &__item:not(:first-child) {
      margin-top: 9px;
    }

    &__link {
      position: relative;
      display: block;
      padding-left: 30px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      text-align: left;
      transition: all .2s ease;

      &.disabled {
        color: #b1b1b1;
        pointer-events: none;
        user-select: none;
        cursor: default;

        &::before {
          border-color: #b1b1b1;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: .55em;
        left: 0;
        width: 17px;
        height: 17px;
        border: 1px solid $color-main;
        border-radius: 2px;
        background-color: #fff;
        transform: translateY(-50%);
        transition: background-image 02s ease-in-out;
      }

      &--checked {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.08372L2.86476 7.4521C3.44923 8.1944 4.64889 8.17998 5.21243 7.42386L10 1' stroke='%2303A753' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          background-position: center;
          background-size: 11px 9px;
          background-repeat: no-repeat;
        }
      }
    }

    &--col {
      display: flex;
      column-gap: 25px;

      .checkbox-filter__item {
        margin: 0;
      }
    }

    &--colors {
      display: flex;
      flex-wrap: wrap;
      gap: 5px 9px;

      .checkbox-filter__item {
        margin: 0;
        padding: 0;
      }

      .checkbox-filter__link {
        padding: 2px 8px;
        color: $color-light;
        border: 2px solid transparent;
        border-radius: 8px;

        &--checked {
          color: #000;
          border-color: $color-main;
        }

        &::before {
          content: none;
        }

        &.red {
          background-color: #e23e3e;
        }

        &.pink {
          background-color: #ee5aa1;
        }

        &.orange {
          background-color: #ff9534;
        }

        &.braun {
          background-color: #a66f3c;
        }

        &.yellow {
          background-color: #f8bf2c;
        }

        &.another {
          background-color: #a1a1a1;
        }
      }
    }
  }
}

.select {
  &-sorting {
    max-width: 200px;
    font-size: 12px;
    font-weight: 600;
  }

  &-value {
    flex-shrink: 0;
    width: max-content;
    padding: 9px 30px 9px 15px;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    background-position-x: right 10px;
  }
}

.rz-slider {
  height: 2px;
  position: relative;
  z-index: 0;
  background: #ddd;
  border-radius: 5px;

  .progress{
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    background: $color-main;
  }
}

.range-input{
  position: relative;
  z-index: 0;
}
.range-input input{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 2px;
  top: -2px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 20px;
  width: 20px;
  border: 1px solid $color-main;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb{
  height: 20px;
  width: 20px;
  border: 1px solid $color-main;
  border-radius: 50%;
  background: #fff;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  cursor: pointer;
}

@media screen and (min-width: 993px) {
  .catalog .sidebar__header {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .catalog .sidebar {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;


    &.open {
      opacity: 1;
      visibility: visible;

      .sidebar__layout {
        left: 0;
      }
    }

    &__layout {
      position: fixed;
      z-index: 5;
      top: 0;
      left: -100%;
      max-width: 300px;
      height: 100%;
      overflow-y: auto;
      padding: 20px 30px 40px;
      background-color: $color-secondary;
      transition: left .3s ease-in-out;
    }

    .sidebar-btn {
      width: 100%;
      margin-top: 30px;
      padding: 10px 20px;
      font-size: 12px;
    }
  }

  .sidebar-form__inner {
    justify-content: flex-start;
    gap: 13px;
  }

  .sidebar-btn-filter {
    margin-top: 10px;
    font-size: 14px;
  }

  .sidebar-block {
    margin-top: 20px;
  }

  .sidebar-block__btn {
    max-width: 225px;
  }

  .sidebar-block__btn-title,
  .sidebar-form__title {
    font-size: 15px;
  }

  .sidebar .filter-list__link {
    font-size: 14px;
  }

  .sidebar-form__label {
    font-size: 12px;
  }

  .sidebar-form__value {
    max-width: 100px;
    padding: 7px 10px 7px 30px;
    font-size: 12px;
  }

  .sidebar .checkbox-filter__link {
    padding-left: 25px;
    font-size: 12px;

    &::before {
      width: 15px;
      height: 15px;
    }
  }

  .sidebar-form__inner {

  }

  .catalog__content {
    width: 100%;
  }

  .catalog-select {
    display: none;
  }

  .catalog-selection {
    width: 100px;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
  }

  .catalog__control {
    gap: 15px;
  }

  .catalog-settings__sorting {
    width: 100%;
    justify-content: space-between;
  }

  .catalog-settings__view {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .catalog-slider {
    .banner__title {
      font-size: 30px;

      .banner__text {
        max-width: 190px;
        font-size: 10px;
      }
    }

    .banner__link {
      margin-top: 10px;
      font-size: 10px;
    }

    .splide__slide {
      height: 208px;
      padding: 20px 25px;
      border-radius: 6px;

      &_first {
        background: right 10px bottom / auto 68% no-repeat url(/assets/img/slider/banner/family.png), #24383b center / cover no-repeat url(/assets/img/slider/banner/main-bg.png);
      }
    }

    .splide__arrows {
      display: none;
    }

    .splide__pagination {
      left: 25px;
      justify-content: flex-start;
      gap: 5px;
    }

    .splide__pagination__page {
      width: 6px;
      height: 6px;
    }
  }

  .catalog__control {
    margin-top: 30px;
  }

  .select-sorting {
    max-width: 170px;
    padding: 9px 20px;
    font-size: 10px;
  }

  .catalog-view__btn svg {
    width: 25px;
    height: 25px;
  }

  .catalog-settings__view {
    gap: 8px;
  }

  .catalog-grid {
    gap: 20px;

    .card {
      width: 180px;
    }
  }

  .catalog-selection {
    gap: 10px;
  }

  .catalog-selection__btn {
    padding: 4px 15px;
    font-size: 10px;

    &_plus {
      font-size: 15px;
    }
  }

  .pagination__btn {
    font-size: 12px;
  }

  .catalog__inserted {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .catalog-slider .splide__slide {
    padding-bottom: 40px;
  }

  .catalog-settings__view,
  .catalog-selection {
    gap: 5px;
  }

  .catalog-grid.catalog-grid_col {
    gap: 20px;
  }

  .catalog-selection__btn {
    padding: 4px 10px;
  }

  .catalog-grid {
    gap: 22px 10px;

    .card {
      width: calc(50% - 5px);
      max-width: 190px;
    }
  }

  .pagination .forward-page {
    display: none;
  }

  .pagination__item:nth-child(n+4):not(:has(.pagination__btn_more )) {
    display: none;
  }

  .pagination {
    margin-top: 8px;
  }

  .pagination .all-pages {
    padding: 4px 10px;
  }
}


@media screen and (max-width: 470px) {
  .catalog-grid_col .card {
    padding: 10px 10px 15px;
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 10px;
    border-radius: 15px;

    .card__body,
    .card__price,
    .card__bottom {
      display: contents;
    }

    .card__link_img {
      width: 100%;
      height: fit-content;
      grid-row: 1 / span 5;

      img {
        width: 100%;
        height: 170px;
        border-radius: 15px;
      }
    }

    .card__link_title {
      margin-top: 15px;
      font-size: 14px;
    }

    .discount {
      font-size: 16px;
    }

    .new-price {
      order: 3;
      margin-top: 15px;
      font-size: 20px;
    }

    .old-price {
      order: 5;
      font-size: 14px;
    }

    .card__info {
      font-size: 11px;
      column-gap: 11px;

      .rating {
        align-items: stretch;
      }

      .rating__icon {
        width: 12px;
        height: 12px;
      }

      .review {
        align-items: baseline;

        img {
          width: 11px;
          height: 10px;
        }
      }
    }

    .card__btns {
      width: 100%;
      max-width: 300px;
      margin: 20px auto 0;
      grid-column: 1 / -1;
      grid-row-start: 6;
    }

    .card__btn {
      padding: 8px 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .catalog-slider .splide__slide {
      height: 240px;
      padding: 14px 15px 40px;
  }
}
