.connect {
  &__btn {
    padding: 9px 19px;
    font-size: 12px;
    color: $color-main;
  }

  &__descr {
    max-width: 450px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.4;
  }

  &__body {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 430px 1fr;
    align-items: flex-start;
    gap: 20px;

    img {
      width: 100%;
      height: 100%;
      max-height: 460px;
      border-radius: $br-xl;
      object-fit: cover;
    }
  }

  .form {
    width: 430px;
    padding: 30px 45px 35px;
    background: $color-secondary center top / cover no-repeat url("/assets/img/contact-form-bg.avif");
    border-radius: 24px;
    flex-shrink: 0;
    background-blend-mode: multiply;

    &.form_md {
      padding: 35px 25px;
    }

    &__title {
      font-size: 20px;
      line-height: 1.4;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 1.4;
      text-align: center;
    }

    &__descr {
      max-width: 300px;
      margin-top: 42px;
      font-size: 14px;
      line-height: 1.4;
      text-align: left;
    }

    .contacts__list {
      row-gap: 15px;
    }

    .contact__link {
      font-weight: 500;
      font-size: 14px;
      color: $color-text;
      gap: 8px;
    }

    .social__list {
      margin-top: 22px;
      gap: 10px;
    }

    .social__link {
      width: 25px;
      height: 25px;
    }

    &__body {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px 20px;
    }

    &__input {
      width: 100%;
      padding: 15px 20px;
      border: none;
      outline: none;
      border-radius: $br-btn;

      &.input-md {
        padding: 15px 20px;
        font-size: 12px;
      }
    }

    &__btn {
      padding: 19px 45px;
      width: 100%;
      font-size: 14px;
      letter-spacing: .12em;
      border: none;
    }

    &__text {
      max-width: 265px;
      margin: 13px auto 0;
      font-size: 11px;
      line-height: 1.6;
      text-align: center;
      color: #6c6c6c;

      a {
        font-size: 11px;
        font-weight: 600;
        line-height: 1.6;
        color: #6c6c6c;
        text-decoration: underline;
      }
    }

    &__blok {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 15px 10px;

      .form__btn {
        width: 100%;
        max-width: 180px;
        margin: 0;
        padding: 12px 30px;
        font-size: 10px;
      }

      .form__text {
        max-width: 190px;
        margin: 0;
        font-size: 8px;
        text-align: left;

        a {
          font-size: inherit;
          letter-spacing: 0;
        }
      }
    }
  }
}

.contacts__list {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 20px;
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #575757;
}

.contact__icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  fill: $color-main;
}

@media screen and (min-width: 769px) {
  .connect .form__subtitle {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .connect__body {
    display: flex;
    flex-wrap: wrap;
  }

  .connect .form {
    width: 100%;

    .contacts__list {
      display: grid;
      grid-template-columns: 310px 1fr;
      gap: 20px 40px;
    }

    &__descr {
      margin-top: 35px;
      max-width: 450px;
    }
  }
}

@media screen and (max-width: 768px) {
  .connect .form.form_md {
    padding: 25px 20px;
  }

  .connect .form__blok {
    margin-top: 29px;
    display: grid;
    grid-template-columns: minmax(auto, 350px) 1fr;
    gap: 5px 10px;

    .form__text {
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: center;
    }
  }

  .connect .form__input.input-md {
    max-width: 350px;
  }

  .connect .form__title {
    display: none;
  }

  .connect__title {
    text-align: center;

    &_left {
      text-align: left;
    }
  }

  .connect__descr {
    margin: 10px auto 0;
    text-align: center;
  }

  .connect__body {
    margin-top: 35px;
    row-gap: 30px;
  }

  .connect .form {
    padding: 25px 20px;
  }

  .connect .form .social__list {
    margin-top: 15px;
  }

  .connect .form__text {
    margin-top: 25px;
    max-width: none;
  }

  .connect .form__body {
    flex-direction: row;
  }

  .connect .form__btn {
    width: fit-content;
    padding: 20px 36px;
    flex-shrink: 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 630px) {
  .connect .form .contacts__list {
    display: flex;
    flex-direction: column;
  }

  .connect .form__blok {
    display: flex;
  }

  .connect .form__input.input-md {
    max-width: none;
  }
}

@media screen and (max-width: 576px) {
  .connect__body {
    margin-top: 20px;
    row-gap: 25px;
  }

  .connect .form__subtitle {
    max-width: 170px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
  }

  .connect .form__body {
    margin-top: 20px;
    flex-direction: column;
    row-gap: 10px;
  }

  .connect .form__btn {
    width: 100%;
    padding: 13px 25px;
    font-size: 12px;
  }

  .connect .form__text {
    margin-top: 15px;
  }

  .connect__title {
    margin: 0 auto;
  }

  .connect__descr {
    font-size: 12px;
    line-height: 1.4;
  }

  .connect .form__input {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .connect .form.form_md {
    padding: 22px 19px;
  }

  .connect .form .contacts__list {
    gap: 14px;

    .contact__icon {
      width: 14px;
      height: 14px;
    }
  }

  .connect .form .contact__link {
    font-size: 12px;
    line-height: 1;
    gap: 10px;
  }

  .connect .form .social__list {
    margin-top: 15px;
    gap: 8px;
  }

  .connect .form .social__link {
    width: 24px;
    height: 24px;
  }

  .connect .form__descr {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
  }

  .connect .form__blok {
    margin-top: 20px;
    flex-direction: column;
    row-gap: 12px;
  }

  .connect .form__input.input-md {
    padding: 16px 25px;
    text-align: center;
  }

  .connect .form__blok .form__btn {
    max-width: none;
    padding: 13px 25px;
    font-size: 12px;
  }

  .connect .form__blok .form__text {
    margin-top: 5px;
    max-width: 250px;
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .connect .form .contacts__list {
    align-items: flex-start;
    
    .contact__link {
      font-size: 13px;
    }
  }

  .connect .form__descr {
    text-align: left;
  }
}
