.weight {
  &__content {
    padding: 50px 35px 40px;
    border-radius: 15px;
    background: right top / auto 320px no-repeat url("/assets/img/hands.png"),
                $color-secondary center / cover no-repeat url("/assets/img/weight-bg.png");

    &.green {
      background: right bottom / 45% auto no-repeat url("/assets/img/boxgreens.png"),
                $color-secondary center / cover no-repeat url("/assets/img/green-bg.png");
    }

    &.bundle {
      background: right bottom / auto 255px no-repeat url("/assets/img/bundle.png"),
                $color-secondary center / cover no-repeat url("/assets/img/green-bg.png");
    }
  }

  &__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
  }

  &__title {
    max-width: 615px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.25;
  }

  &__subtitle {
    margin-top: 14px;
    font-size: 12px;
    line-height: 1.4;
  }

  &__descr {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.4;
  }

  .btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 35px;
  }
}

.strengths {
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__btn {
    margin-left: auto;
  }

  &__cards {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
  }

  &__card {
    width: 100%;
    max-width: 370px;
    height: 240px;
    padding: 30px;
    border-radius: $br-xl;
    font-size: 27px;
    line-height: 1.3;

    P {
      line-height: inherit;
    }

    .text-active {
      display: block;
      max-width: 245px;
      font-weight: 500;
    }

    &:nth-child(1) {
      background: right bottom / contain no-repeat url("/assets/img/strengths/0.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg0.png");
    }

    &:nth-child(2) {
      background: right 23px bottom / auto no-repeat url("/assets/img/strengths/1.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg1.png");
    }

    &:nth-child(3) {
      background: right bottom / contain no-repeat url("/assets/img/strengths/2.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg2.png");
    }

    &.hands {
      background: center bottom / 300px auto no-repeat url("/assets/img/strengths/3.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg0.png");
    }

    &.hands-reverse {
      background: center top 70px / contain no-repeat url("/assets/img/strengths/4.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg0.png");
    }

    &.box {
      background: right bottom / contain no-repeat url("/assets/img/strengths/5.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg2.png");
    }
  }

  &__bottom {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;

    .strength {
      width: 100%;
      max-width: 270px;
      padding: 25px 20px 28px;
      border-radius: 15px;
      background: $color-secondary;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 13px;
      }

      &__title {
        font-weight: 400;
        font-size: 23px;
        line-height: 1.2;
      }

      &__icon {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background: $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }

      &__text {
        margin-top: 10px;
        max-width: 155px;
        font-size: 15px;
        line-height: 1.2;
        color: #6E6E6E;
      }
    }
  }

  &__btns {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;

    .btn {
      width: 100%;
      max-width: 280px;
      padding: 16px 40px;
      font-size: 16px;
    }
  }
}

.choose {
  padding: 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title .text-active {
    display: block;
    max-width: 500px;
    font-weight: 500;
  }

  &__descr {
    max-width: 480px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.4;

    b {
      font-weight: 500;
    }
  }

  &__img {
    width: fit-content;
    flex-shrink: 0;
    
    img {
      object-fit: cover;
      object-position: 30% center;
      border-radius: 20px;
    }
  }
}

.condition {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cards {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }

  &-card {
    max-width: 270px;
    padding: 20px;
    border-radius: 15px;
    background: $color-secondary;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
    }

    &__title {
      font-weight: 400;
      font-size: 23px;
    }

    &__icon {
      flex-shrink: 0;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background: $color-main;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      max-width: 185px;
      margin-top: 10px;
      font-size: 15px;
      line-height: 1.2;
      color: #6E6E6E;
    }
  }

  &__btns {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .btn {
      width: 100%;
      max-width: 280px;
      padding: 16px 40px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 993px) {
  .choose .wrapper {
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .weight__title span {
    display: none;
  }

  .strengths__btns,
  .condition__btns {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .weight__content {
    background: right top / auto 300px no-repeat url("/assets/img/hands.png"),
                $color-secondary center / cover no-repeat url("/assets/img/weight-bg.png");
  }

  .weight__content.bundle {
    background: right -50px bottom / auto 200px no-repeat url(/assets/img/bundle.png), #f1f9f5 center / cover no-repeat url(/assets/img/green-bg.png);
  }

  .weight__title {
    max-width: 500px;
  }
}

@media screen and (max-width: 992px) {
  .weight__content {
    background: right top / auto 300px no-repeat url(/assets/img/hands-sm.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg.png);
  }

  .weight__title {
    max-width: 355px;
    font-size: 28px;
  }

  .strengths__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .strength {
      max-width: none;
    }
  }

  .condition__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .condition-card {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .condition__header .btn,
  .strengths__header .btn {
    display: none;
  }

  .weight__content {
    padding: 25px 20px 30px;
    background: right top / auto 250px no-repeat url(/assets/img/hands-sm.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg-sm.png);

    &.green {
      background: right bottom / 45% auto no-repeat url(/assets/img/boxgreens.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg-sm.png);
    }

    &.bundle {
      padding-bottom: 65px;
      background: right -120px bottom / auto 170px no-repeat url(/assets/img/bundle.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg-sm.png);

      .weight__title {
        max-width: none;
      }
    }
  }

  .weight__info {
    font-size: 13px;
  }

  .weight__title {
    margin-top: 20px;
  }

  .weight__subtitle {
    margin-top: 15px;
  }

  .weight .btn {
    margin-top: 30px;
  }

  .strengths__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .strengths__card {
    padding: 20px 25px;
    font-size: 22px;
    line-height: 1.2;

    &_lg {
      order: 3;
      grid-column: span 2;
      max-width: none;
      height: 205px;
    }

    p {
      max-width: 200px;
    }

    &:nth-child(2) {
      background: right 10% bottom / auto 85% no-repeat url(/assets/img/strengths/1.png), #f1f9f5 center / cover no-repeat url(/assets/img/strengths/bg1.png);
    }

    &.cipollino {
      order: 2;
    }

    &.hands-reverse {
      background: center bottom 10px / 270px auto no-repeat url(/assets/img/strengths/4.png), #f1f9f5 center / cover no-repeat url(/assets/img/strengths/bg0.png);
    }

    &.woman {
      background: center bottom / 100% 50px no-repeat url("/assets/img/strengths/flowers.png"),
                  center right 17% / auto 180px no-repeat url("/assets/img/strengths/woman.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg-lg.png");
    }

    &.box {
      background: right bottom / auto 180px no-repeat url("/assets/img/strengths/boxes.png"),
                  right 150px bottom -15px / auto 140px no-repeat url("/assets/img/strengths/packets.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg-lg.png");
    }

    &.packets {
      background: right 140px bottom / auto 150px no-repeat url("/assets/img/strengths/packets2.png"),
                  right bottom / auto 180px no-repeat url("/assets/img/strengths/boxes.png"),
                  $color-secondary center / cover no-repeat url("/assets/img/strengths/bg-lg.png");
    }
  }

  .strengths__bottom {
    margin-top: 25px;
    gap: 20px;

    .strength__title {
      max-width: 170px;
      font-size: 20px;
    }

    .strength__text {
      margin-top: 16px;
    }
  }

  .condition__cards {
    margin-top: 20px;
    gap: 25px 20px;
  }

  .condition-card {
    padding: 25px 20px;

    &__title {
      max-width: 135px;
      font-size: 20px;
    }

    &__text {
      margin-top: 17px;
    }
  }

  .condition__btns .btn {
    max-width: none;
  }

  .weight-info {
    font-size: 14px;

    h2 {
      font-size: 18px;
    }

    p, .link {
      margin-top: 25px;
    }

    a {
      font-size: 14px;
      text-align: left;
     }
  }

  .choose .wrapper {
    column-gap: 30px;
  }

  .choose__title {
    line-height: 1.3;
  }

  .choose__text {
    justify-content: flex-start;
  }

  .choose__img {
    margin-top: 15px;
    max-width: calc(50% - 15px);

    img {
      width: 100%;
      height: 280px;
    }
  }
}

@media screen and (max-width: 620px) {
  .weight__content {
    background: right -45px bottom / auto 235px no-repeat url(/assets/img/hands-sm.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg-sm.png);
  }
}

@media screen and (max-width: 576px) {
  .weight__content {
    padding-right: 30px;
    background: right -45px bottom 67px / auto 240px no-repeat url(/assets/img/hands-sm.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg-sm.png);

    &.green {
      padding-bottom: 18px;
      background: right -50px bottom / auto 150px no-repeat url(/assets/img/boxgreens.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg-sm.png);
    }

    &.bundle {
      padding-bottom: 20px;
      padding-right: 15px;
      background: right -145px bottom / auto 185px no-repeat url(/assets/img/bundle.png), #f1f9f5 center / cover no-repeat url(/assets/img/weight-bg-sm.png);
    }
  }

  .weight__title {
    margin-top: 15px;
    font-size: 20px;
  }

  .weight__subtitle {
    max-width: 140px;
    margin-top: 10px;
  }

  .weight {
    .btn {
      width: 260px;
      margin-top: 165px;
    }

    .green .btn {
      margin-top: 75px;
    }

    .bundle .btn {
      margin-top: 100px;
      color: $color-main;
      background-color: #fff;

      &:hover {
        color: #fff;
        background-color: $color-btn-hover;
      }
    }
  }

  .strengths__cards {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .strengths__card {
    padding: 20px;
    max-width: none;
    height: 190px;
    font-size: 17px;

    p {
      max-width: 155px;
    }

    &.box {
      background: right 80px bottom -15px / auto 90px no-repeat url(/assets/img/strengths/packets.png), right bottom / auto 180px no-repeat url(/assets/img/strengths/boxes.png), #f1f9f5 center / cover no-repeat url(/assets/img/strengths/bg-lg.png);
    }
  }

  .strengths__bottom {
    margin-top: 30px;

    .strength {
      padding: 15px 8px 17px 13px;
    }

    .strength__header {
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 15px;
    }

    .strength__icon {
      width: 30px;
      height: 30px;

      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }

    .strength__title {
      font-size: 16px;
    }

    .strength__text {
      margin-top: 8px;
      font-size: 12px;
    }
  }

  .strengths__btns,
  .condition__btns {
    margin-top: 20px;
  }

  .strengths__btns {
    flex-direction: column-reverse;
  }

  .strengths__btns .btn,
  .condition__btns .btn {
    max-width: 300px;
    padding: 11px 40px;
    font-size: 13px;
  }

  .condition__cards {
    gap: 10px;
  }

  .condition-card {
    padding: 15px 13px 17px;

    .btn-question {
      width: 16px;
      height: 16px;
    }

    &__header {
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 15px;
    }

    &__icon {
      width: 30px;
      height: 30px;

      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }

    &__title {
      max-width: 108px;
      font-size: 16px;
    }

    &__text {
      margin-top: 8px;
      font-size: 12px;
    }
  }

  .weight-info {
    font-size: 12px;

    h2 {
      font-size: 16px;
    }

    a {
      font-size: 12px;
    }
  }

  .choose {
    padding: 10px 0;
  }

  .choose .wrapper {
    flex-direction: column;
    row-gap: 15px;
  }

  .choose__img {
    margin-top: 0;
    max-width: 240px;
    height: auto;
    margin-left: auto;

    img {
      height: auto;
      min-height: 186px;
    }
  }

  .strengths__bottom {
    gap: 10px 20px;
  }

  .condition__header h2 {
    max-width: none;
  }

  .choose__descr {
    font-size: 13px;
    line-height: 1.5;
  }
}
