.delivery {
  background: transparent right calc((100vw - 1160px) / 2 - 35px) top 55px / 945px auto no-repeat url("/assets/img/delivery-bg.png");

  &__title {
    display: flex;

    .tooltip {
      &__text {
        padding: 8px 12px;
        background-color: $color-secondary;
        border-radius: 8px;
      }
    }
  }

  &__descr {
    margin-top: 10px;
    max-width: 360px;
    font-size: 12px;
    line-height: 1.4;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__list {
    margin-top: 20px;
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;

    &_lg {
      margin-top: 15px;
      max-width: 400px;
    }

    .region {
      padding: 5px 9px;
      border: 1px solid $color-main;
      font-size: 11px;
      line-height: 1.2;
      color: $color-main;
      border-radius: 8px;
    }

    .days {
      margin-top: 5px;
      margin-left: 10px;
      font-size: 10px;
      line-height: 1.4;
    }
  }

  .countries {
    margin-top: 35px;
    display: flex;
    gap: 30px;

    .flag {
      width: 26px;
      height: 13px;
      margin-left: 8px;
      vertical-align: middle;
    }

    &__title {
      font-size: 18px;
      line-height: 1.2;
      color: #272727;
    }

    &__days {
      margin-top: 6px;
      font-size: 10px;
      line-height: 1.4;
    }
  }
}

.delivery-local {
  &__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;

    &_contry {
      .delivery-local__icon {
        width: 42px;
        height: 22px;
      }
    }
  }

  &__item {
    padding: 32px 25px 30px 35px;
    border-radius: 15px;
    background: $color-secondary;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-weight: 400;
    font-size: 22px;
    color: $color-text;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__btn {
    margin-left: auto;
    padding: 5px 15px;
    font-size: 10px;
    letter-spacing: 0.05em;
  }

  &__descr {
    margin-top: 14px;
    max-width: 475px;
    font-size: 14px;
    line-height: 1.4;
    color: #24383b;
  }
}

@media screen and (min-width: 1261px) {
  .delivery__img {
    display: none;
  }

  .delivery__list .delivery__item:nth-child(n + 10) {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  .delivery {
    background: transparent;
  }

  .delivery__list {
    margin-top: 35px;
    max-width: none;

    &_lg {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .delivery .countries {
    margin-top: 25px;
  }

  .delivery-local__list {
    margin-top: 35px;
    gap: 16px 20px;
  }

  .delivery-local__item {
    padding: 22px 20px;
    display: flex;
    flex-direction: column;
  }

  .delivery-local__header {
    display: contents;
  }

  .delivery-local__icon {
    order: -1;
    width: 23px;
    height: 19px;
    object-fit: contain;
  }

  .delivery-local__title {
    margin-top: 18px;
    font-size: 20px;
  }

  .delivery-local__descr {
    flex: 1 0 auto;
    margin-top: 10px;
    font-size: 12px;
  }

  .delivery-local__btn {
    order: 2;
    margin-left: 0;
    margin-top: 15px;
    width: fit-content;
    font-size: 10px;
  }

  .delivery-local__list_contry .delivery-local__icon {
    width: 32px;
    height: 16px;
  }
}

@media screen and (max-width: 576px) {
  .delivery__list {
    margin-top: 49px;
    gap: 17px 8px;
  }

  .delivery__list .region {
    font-size: 12px;
  }

  .delivery .countries__days {
    font-size: 12px;
  }

  .delivery .countries__title {
    font-size: 16px;
  }

  .delivery-local__list {
    margin-top: 20px;
  }

  .delivery-local__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .delivery-local__item {
    position: relative;
    z-index: 0;
    padding: 20px;
  }

  .delivery-local__title {
    margin-top: 0;
    font-size: 17px;
  }

  .delivery-local__icon {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 20px;
  }

  .delivery-local__btn {
    padding: 4px 15px;
    font-size: 12px;
  }

  .delivery-local h2 {
    max-width: none;
    margin: 0 auto;
  }
}
