.delivery {
  background: transparent right 25% top 30px / 945px auto no-repeat url("/assets/img/delivery-bg.png");

  &__descr {
    margin-top: 10px;
    max-width: 360px;
    font-size: 12px;
    line-height: 1.4;
  }

  &__list {
    margin-top: 40px;
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;

    .region {
      padding: 5px 9px;
      border: 1px solid $color-main;
      font-size: 11px;
      line-height: 1.2;
      color: $color-main;
      border-radius: 8px;
    }

    .days {
      margin-top: 5px;
      margin-left: 10px;
      font-size: 10px;
      line-height: 1.4;
    }
  }

  .countries {
    margin-top: 35px;
    display: flex;
    gap: 30px;

    .flag {
      width: 26px;
      height: 13px;
      vertical-align: middle;
    }

    &__title {
      font-size: 18px;
      line-height: 1.2;
      color: #272727;
    }

    &__days {
      margin-top: 6px;
      font-size: 10px;
      line-height: 1.4;
    }
  }
}

.delivery-local {
  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    max-width: 570px;
    padding: 35px 25px 30px 35px;
    border-radius: 15px;
    background: $color-secondary;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-weight: 400;
    font-size: 22px;
    color: $color-text;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__btn {
    margin-left: auto;
    padding: 5px 15px;
  }

  &__descr {
    margin-top: 15px;
    max-width: 475px;
    font-size: 14px;
    line-height: 1.4;
    color: #24383b;
  }
}
