.discount {
  &__header {
    display: flex;
    align-items: center;
    column-gap: 62px;
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .splide__track {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.all-discounts {
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-decoration: underline;
  color: $color-main;
}

.discount__item {
  height: 240px;
  padding: 35px 40px;
  border-radius: $br-xl;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: left;
  background-color: $color-secondary;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  &_first {
    background-image: url("/assets/img/discounts/0.png")
  }

  &_second {
    background-image: url("/assets/img/discounts/1.png")
  }

  &_thirds {
    background-image: url("/assets/img/discounts/2.png")
  }

  .btn {
    margin-bottom: 12px;
    padding: 5px 15px;
    font-size: 10px;
    pointer-events: none;

    & + * {
      max-width: 145px;
    }
  }

  span {
    display: inline-block;
    max-width: 200px;
  }
}

.discount-card {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  background-blend-mode: normal;

  &:nth-child(1) {
    background: right bottom / auto 220px no-repeat url("/assets/img/discounts/box.png"), #f1f9f5 center / cover url("/assets/img/discounts/bg.png");
  }

  &:nth-child(2) {
    background: right bottom / auto 180px no-repeat url("/assets/img/discounts/vegetable.png"), #f1f9f5 center / cover url("/assets/img/discounts/bg.png");
  }

  .discount__title {
    max-width: 215px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3;
    color: $color-text;
  }

  .discount__descr {
    margin-top: 15px;
    font-size: 16px;
    flex: 1 0 auto;
  }

  .discount__link {
    max-width: 100px;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: 600;
    border-radius: $br-btn;
    text-transform: uppercase
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .discount__btns {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .discount__item:not(.discount-card) {
    height: 207px;
    padding: 17px;
    font-size: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    row-gap: 14px;
  }

  .discount__item .btn {
    width: fit-content;
  }

  .discount__item .btn + * {
    max-width: 175px;
  }

  .discount__list {
    gap: 25px;
  }

  .discount-card {
    padding: 20px 20px 25px;

    &:nth-child(2) {
      background: right bottom / auto 200px no-repeat url("/assets/img/discounts/car.png"), #f1f9f5 center / cover url("/assets/img/discounts/bg.png");
    }
  }
}

@media screen and (max-width: 576px) {
  .discount__header {
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 10px;
  }

  .discount__item {
    font-size: 17px;

    &_first {
      background-image: url("/assets/img/discounts/0-sm.png")
    }
  
    &_second {
      background-image: url("/assets/img/discounts/1-sm.png")
    }
  
    &_thirds {
      background-image: url("/assets/img/discounts/2-sm.png")
    }
  }

  .discount__item:not(.discount-card) {
    font-size: 17px;
    line-height: 1.4;
  }

  .discount__item .btn {
    padding: 5px 10px;
    font-size: 12px;
  }

  .all-discounts {
    font-size: 12px;
  }

  .discount-card {
    height: 325px;
    padding: 20px;
    border-radius: 15px;

    .discount__title {
      font-size: 20px;
    }

    .discount__descr {
      margin-top: 10px;
      font-size: 14px;
      flex-grow: 0;
    }

    .discount__link {
      margin-top: 25px;
    }
  }
}
