.discount {
  &__header {
    display: flex;
    align-items: center;
    column-gap: 60px;
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .splide__track {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.all-discounts {
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  color: $color-main;
}

.discount__item {
  height: 240px;
  padding: 35px 40px;
  border-radius: $br-xl;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: left;
  background-color: $color-secondary;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  .btn {
    margin-bottom: 12px;
    padding: 5px 15px;
    font-size: 10px;
    pointer-events: none;

    & + * {
      max-width: 145px;
    }
  }

  span {
    display: inline-block;
    max-width: 200px;
  }
}

.discount-card {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;

  .discount__title {
    max-width: 215px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3;
    color: $color-text;
  }

  .discount__descr {
    margin-top: 15px;
    font-size: 16px;
    flex: 1 0 auto;
  }

  .discount__link {
    max-width: 100px;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: 600;
    border-radius: $br-btn;
    text-transform: uppercase
  }
}
