.documents {
  &__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

.document {
  padding: 25px 15px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $color-secondary;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.2411 0.0225835C11.5848 -0.167249 12.7871 0.863862 12.7871 2.20618V3.31027C13.7519 3.81458 14.4093 4.81697 14.4093 5.9712V13.9921C14.4093 15.6534 13.0475 17 11.3676 17H3.25651C1.57664 17 0.214844 15.6534 0.214844 13.9921V2.76282C0.214844 2.75536 0.214982 2.74793 0.215249 2.74054C0.214982 2.729 0.214844 2.71742 0.214844 2.70581C0.214844 1.97891 0.755352 1.36262 1.48304 1.25983L10.2411 0.0225835ZM1.43151 4.16649V13.9921C1.43151 14.9889 2.24859 15.7969 3.25651 15.7969H11.3676C12.3755 15.7969 13.1926 14.9889 13.1926 13.9921V5.9712C13.1926 4.97449 12.3755 4.16649 11.3676 4.16649H1.43151ZM1.69193 2.96334H11.5704V2.20618C11.5704 1.59603 11.024 1.12734 10.4131 1.21363L1.6551 2.45087C1.52681 2.469 1.43151 2.57765 1.43151 2.70581C1.43151 2.84804 1.54811 2.96334 1.69193 2.96334ZM3.45929 8.37746C3.45929 8.04523 3.73165 7.77589 4.06762 7.77589H10.5565C10.8925 7.77589 11.1648 8.04523 11.1648 8.37746C11.1648 8.70977 10.8925 8.97903 10.5565 8.97903H4.06762C3.73165 8.97903 3.45929 8.70977 3.45929 8.37746ZM3.45929 11.1848C3.45929 10.8526 3.73165 10.5832 4.06762 10.5832H8.52873C8.8647 10.5832 9.13707 10.8526 9.13707 11.1848C9.13707 11.5171 8.8647 11.7864 8.52873 11.7864H4.06762C3.73165 11.7864 3.45929 11.5171 3.45929 11.1848Z' fill='%2303A753'/%3E%3C/svg%3E");
  background-size: 15px 17px;
  background-repeat: no-repeat;
  background-position: 15px 30px;
  border-radius: 15px;

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    color: #272727;
  }

  &__text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.4;
    color: #24383b;
    flex: 1 0 auto;
  }

  &__btn {
    margin-top: 15px;
    padding: 5px 16px;
    font-size: 10px;
    border-radius: $br-btn;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 992px) {
  .documents__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .documents__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .document__btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .documents__list {
    margin-top: 25px;
  }

  .document {
    padding: 40px 15px 20px;
    background-position: left 13px top 13px;

    &__title {
      font-size: 16px;
    }

    &__btn {
      padding: 5px 25px;
      font-size: 12px;
    }
  }

  
}
