.faq {
  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__descr {
    margin-top: 15px;
    max-width: 570px;
    font-size: 14px;
    line-height: 1.4;
  }

  &__btn {
    padding: 19px 45px;
    font-size: 14px;
    letter-spacing: 0.12em;
  }
}

@media screen and (min-width: 769px) {
  .faq__question {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .faq__header .faq__btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .faq .title {
    max-width: 300px;
  }

  .faq__descr {
    max-width: none;
  }

  .faq__question {
    margin-top: 45px;

    .btn {
      padding: 19px 42px;
      font-size: 14px;
      letter-spacing: .14em;
    }
  }
}

@media screen and (max-width: 576px) {
  .faq .title {
    max-width: 200px;
  }

  .faq__descr {
    margin-top: 10px;
    font-size: 12px;
  }

  .faq__question {
    margin-top: 30px;
    text-align: center;

    .btn {
      width: 100%;
      max-width: 300px;
      padding: 13px 30px;
      font-size: 12px;
    }
  }
}
