.footer {
  margin-top: 50px;
  padding: 45px 0 50px;
  color: #575757;
  background-color: $color-secondary;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  .logo{
    display: flex;
    align-items: center;
    gap: 25px;

    &__img {
      width: 166px;
      height: auto;
    }

    &__text {
      max-width: 95px;
      font-size: 12px;
    }
  }

  .menu-social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 35px;
  }

  .contacts__list {
    margin-top: 27px;
  }
  
  .copyright {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #767676;
  }

  &-links {
    display: flex;
    column-gap: 70px;

    &__label {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      color: #24383b;
      text-transform: uppercase;
    }

    &__list {
      margin-top: 15px;
      max-height: 95px;
      column-count: 2;
      column-gap: 30px;
      column-fill: auto;
    }

    &__item {
      line-height: 0;

      &:not(:first-child) {
        margin-top: 15px;
      }

      a {
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        color: #575757;
      }
    }
  }

  .form {
    margin-top: 53px;
    display: flex;
    gap: 10px;

    &__input {
      max-width: 220px;
      padding: 14px 20px;
      font-size: 14px;
      color: #000;
      border: none;
      border-radius: $br-btn;
    }

    &-btn {
      max-width: 330px;
      padding: 14px 30px;
    }
  }

  .politics-link {
    margin-top: 40px;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.275;
    color: #767676;
    text-decoration: underline;
  }

  &__text {
    margin-top: 55px;
    padding: 35px 60px 50px;
    font-size: 16px;
    line-height: 1.46;
    background-color: $color-light;
    border-radius: $br-lg;

    p {
      line-height: 1.46;
      
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1100px) {
  .footer-links__list {
    max-height: 125px;
  }

  .footer .form-btn {
    max-width: 300px;
  }

  .footer-links {
    column-gap: 50px;
  }
}

@media screen and (max-width: 992px) {
  .footer__content {
    flex-direction: column-reverse;
    row-gap: 55px;
  }

  .footer__text {
    margin-top: 65px;
    padding:  20px 30px 30px 20px;
    font-size: 14px;

    p {
      line-height: 1.45;
    }
  }

  .footer .form {
    margin-top: 55px;
  }

  .footer .politics-link {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }

  .footer .menu-social {
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
  }

  .footer-links {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  .footer .form {
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .footer .form > * {
    width: 100%;
    max-width: 330px;
    padding: 13px 20px;
    font-size: 12px;
    border-radius: 55px;
  }

  .footer .form .form__input {
    padding: 15.5px 20px;
  }

  .footer .politics-link {
    margin: 15px 50px 0;
  }

  .footer__text {
    margin-top: 40px;
    padding: 15px;
    font-size: 10px;

    p:not(:first-child) {
      margin-top: 10px;
    }
  }

  .footer__content {
    row-gap: 45px;
  }
}
