.footer {
  margin-top: 50px;
  padding: 45px 0 50px;
  color: #575757;
  background-color: $color-secondary;

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
  }

  .logo__link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 285px;
    height: 48px;
    padding-left: 190px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    background: left center / contain no-repeat url('/assets/img/logo-footer.avif');

    &:hover {
      color: $color-main;
    }
  }

  .menu-social {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    column-gap: 35px;
  }

  .contacts__list {
    margin-top: 27px;
    row-gap: 23px;
  }
  
  .copyright {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #767676;
  }

  &-links {
    display: flex;
    column-gap: 70px;

    &__label {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      color: #24383b;
      text-transform: uppercase;
    }

    &__list {
      margin-top: 15px;
      max-height: 130px;
      column-count: 2;
      column-gap: 30px;
      column-fill: auto;
    }

    &__item {
      max-width: 150px;
      line-height: 0;

      &:not(:first-child) {
        margin-top: 14px;
      }

      a {
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        color: #575757;

        &:hover {
          color: $color-btn-hover;
          text-decoration: underline !important;
        }
      }
    }
  }

  .form {
    margin-top: 40px;
    display: flex;
    gap: 10px;

    &__input {
      max-width: 220px;
      padding: 14px 20px;
      font-size: 14px;
      color: #000;
      border: none;
      border-radius: $br-btn;
    }

    &-btn {
      max-width: 330px;
      padding: 14px 30px;
      letter-spacing: .04em;
    }
  }

  .politics-link {
    margin-top: 30px;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.275;
    color: #767676;
    text-decoration: underline;
  }

  &__text {
    margin-top: 55px;
    padding: 35px 60px 50px;
    font-size: 16px;
    line-height: 1.46;
    background-color: $color-light;
    border-radius: $br-lg;

    p {
      line-height: 1.46;
      
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1180px) {
  .footer-links__list {
    max-height: 155px;
  }

  .footer .form {
    margin-top: 20px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1100px) {
  .footer .form-btn {
    max-width: 300px;
  }

  .footer-links {
    column-gap: 50px;
  }

  .footer .politics-link {
    margin-top: 25px;
  }
}

@media screen and (max-width: 992px) {
  .footer__content {
    flex-direction: column-reverse;
    row-gap: 55px;
  }

  .footer__text {
    margin-top: 65px;
    padding:  20px 30px 30px 20px;
    font-size: 14px;

    p {
      line-height: 1.4;
    }
  }

  .footer .form {
    margin-top: 52px;
  }

  .footer .politics-link {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }

  .footer .menu-social {
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
  }

  .footer-links {
    flex-wrap: wrap;
    row-gap: 24px;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 40px 0 85px;
  }

  .footer .logo__link {
    margin: 0 auto;
  }

  .footer-links .col {
    margin-left: 15%;
  }

  .footer .form {
    margin-top: 43px;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .footer .form > * {
    width: 100%;
    max-width: none;
    padding: 13px 20px;
    font-size: 12px;
    border-radius: 55px;
  }

  .footer .form .form__input {
    padding: 15.5px 20px;
    text-align: center;
  }

  .footer .menu-social {
    justify-content: center;
    column-gap: 25px;
    row-gap: 18px;
  }

  .social__list {
    flex-basis: 100%;
    justify-content: center;
  }

  .contacts__list {
    align-items: center;
  }

  .footer .politics-link {
    display: block;
    width: fit-content;
    margin: 13px auto 0;
  }

  .footer .copyright {
    text-align: center;
  }

  .footer__text {
    margin-top: 35px;
    padding: 17px 15px;
    font-size: 10px;

    p:not(:first-child) {
      margin-top: 10px;
    }
  }

  .footer__content {
    row-gap: 45px;
  }
}

@media screen and (max-width: 450px) {
  .footer-links .col {
    margin-left: 10%;
  }
}

@media screen and (max-width: 375px) {
  .footer-links__list {
    max-height: 145px;
  }
}
