.hero {
  color: #000;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
  }

  &__content {
    margin-top: 30px;
    padding-bottom: 55px;
    display: flex;
    align-items: start;
    column-gap: 35px;
    border-bottom: 1px solid #00000080;
  }

  &__img {
    max-width: 445px;
    height: auto;
    border-radius: 20px;
    flex-shrink: 0;
  }

  &__subtitle {
    max-width: 380px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.35;
  }

  &__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;

    &-important {
      margin-top: 30px;
      font-size: 16px;
      text-align: right;
      color: $color-main;
    }
  }

  &-form {
    color: #000;

    &__subtitle {
      margin-top: 15px;
      font-size: 14px;
      line-height: 1.5;
    }

    form {
      margin-top: 40px;
      padding: 33px 30px;
      display: flex;
      flex-direction: column;
      align-items: start;
      background: #f6f6f6;
      border-radius: 24px;

      .textarea {
        margin-top: 20px;
        height: 145px;
      }

      .btn-lg {
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 0.13em;
      }
    }
  }
}
