.hero {
  color: #000;

  &__title {
    font-weight: 400;
  }

  &__content {
    margin-top: 33px;
    padding-bottom: 55px;
    border-bottom: 1px solid #00000080;
  }

  &__img {
    float: left;
    width: 45vw;
    max-width: 445px;
    height: auto;
    margin-right: 35px;
    margin-bottom: 20px;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.35;

    span {
      display: inline-block;
      max-width: 385px;
    }
  }

  &__text {
    margin-top: 28px;
    font-size: 18px;
    line-height: 1.5;
    text-indent: 1.5em;
    text-align: justify;

    &-important {
      margin-top: 45px;
      font-size: 16px;
      text-align: right;
      color: $color-main;

      p {
        line-height: 1.5;
      }
    }
  }

  &-form {
    color: #000;

    &__subtitle {
      margin-top: 15px;
      font-size: 14px;
      line-height: 1.5;
    }

    form {
      margin-top: 40px;
      padding: 33px 30px;
      display: flex;
      flex-direction: column;
      align-items: start;
      background: #f6f6f6;
      border-radius: 24px;

      .textarea {
        margin-top: 20px;
        height: 145px;
      }

      .btn-lg {
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 0.13em;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .hero__subtitle span {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .hero__content {
    margin-top: 40px;
    column-gap: 21px;
  }

  .hero__title {
    max-width: 340px;
  }

  .hero__subtitle {
    margin-bottom: 1px;
    font-size: 21px;
    max-width: none;
  }

  .hero__img {
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .hero__text {
    margin-top: 15px;
    font-size: 12px;
  }

  .hero__text-important {
    margin-top: 25px;
    font-size: 14px;
  }

  .hero-form__subtitle {
    max-width: 500px;
  }

  .hero-form form {
    margin-top: 30px;
    padding: 20px 20px 27px;
  }

  .hero-form form .textarea {
    height: 190px;
  }

  .hero-form form .btn-lg {
    padding: 18px 46px;
  }
}

@media screen and (max-width: 576px) {
  .hero__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .hero__img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    border-radius: 15px;
  }

  .hero__subtitle {
    margin: 20px 0 0;
    font-size: 18px;
  }

  .hero__text {
    margin-top: 20px;
    font-size: 13px;
  }

  .hero__text-important {
    margin-top: 20px;
    font-size: 12px;
  }

  .hero-form__subtitle {
    margin-top: 10px;
    font-size: 12px;
  }

  .hero-form form {
    margin-top: 17px;
    padding: 15px 15px 25px;
    border-radius: 15px;

    .input {
      padding: 9px 25px;
    }

    .textarea {
      height: 230px;
      margin-top: 15px;
      padding: 15px 25px;
      font-size: 15px;
      border-radius: 10px;
    }

    .btn-lg {
      width: 100%;
      max-width: 330px;
      margin-top: 25px;
      padding: 12px 15px;
      font-size: 12px;
    }
  }

  .hero__content {
    padding-bottom: 40px;
  }

  .proposition__descr {
    line-height: 1.45;
  }
}
