.history {
  &-banner__img {
    width: 100%;
    height: auto;
  }

  &-banner__list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 15px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;

    &__header {
      display: flex;
      justify-content: center;
      column-gap: 8px;
    }

    &__title {
      font-weight: 400;
      font-size: 14px;
    }

    &__flag {
      width: 20px;
      height: auto;
    }
  }

  &__layout {
    display: flex;
    column-gap: 40px;
  }

  &__info {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #000;

    p:not(:first-child) {
      margin-top: 25px;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 1.5;
    color: #000;

    p:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 300px;
    background-image: url("/assets/img/history-bg.png");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__icon {
    width: 100%;
    height: auto;
  }

  &__list {
    margin-top: 25px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 100px 25px;
    position: relative;
    z-index: 0;

    .row {
      padding: 0 40px 0 50px;
      display: flex;
      gap: 45px 25px;

      &:nth-child(1) {
        padding-left: 0;

        .history__item {
          flex-basis: 220px;
        }

        .history__item:first-child {
          flex-basis: 200px;

          .history__descr {
            padding: 0;
            border: none;
          }
        }

        .history__item:last-child {
          flex-basis: 400px;
        }

        .history__year {
          margin-bottom: 10px;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &:not(:first-child) {
        .history__year {
          position: absolute;
          left: -10px;
          bottom: calc(100% + 20px);
        }
      }
    }
  }

  &__line {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    stroke: $color-main;
    stroke-linecap: round;
    stroke-width: 4;
    fill: none;
  }

  &__item {
    flex: 1 1 300px;
    position: relative;
    z-index: 0;
    padding-top: 20px;

    &::before {
      content: "";
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background-color: $color-main;
      transform: translate(-50%, -50%);
    }

    .title {
      max-width: 200px;
      margin-bottom: 10px;
      padding: 10px 3px 10px 15px;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.4;
      background-color: $color-secondary;
      border-radius: 15px;
    }

    &_disabled {
      &::before {
        background-color: #cdcdcd;
      }
    }
  }

  &__year {
    font-weight: 500;
    font-size: 25px;
    color: $color-main;
  }

  &__descr {
    padding-left: 10px;
    font-size: 10px;
    line-height: 1.4;
    color: $color-text;
    border-left: 2px solid #afe3c8;
  }
  
  &__imgs {
    margin-top: 15px;
    display: flex;
    column-gap: 5px;
  }

  &__img {
    width: 51px;
    height: 33px;
    object-fit: cover;
    border-radius: 3px;
  }
}
