.pay-info {
  &__layout {
    padding: 20px 25px;
    display: flex;
    border-radius: 15px;
    background: right 5% bottom no-repeat url("/assets/img/pay-man.png"),
                $color-secondary center / cover no-repeat url("/assets/img/pay-bg.png");
  }

  &__text {
    max-width: 550px;
  }

  &__descr {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 35px;

    p {
      font-size: 13px;
      line-height: 1.4;

      &:nth-child(1) {
        max-width: 285px;
      }

      &:nth-child(2) {
        max-width: 225px;
      }

      &:nth-child(3) {
        max-width: 420px;
      }
    }
  }
}

.payment {
  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    padding: 35px 25px 30px 35px;
    border-radius: 15px;
    background: $color-secondary;
    flex: 1 1 calc(50% - 10px);
  }
}

.content-payment {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__title {
    font-weight: 400;
    font-size: 21px;
    color: #272727;
  }

  &__btn {
    margin-left: auto;
    padding: 5px 15px;
    font-size: 10px;
    color: $color-main;
    transition: .3s linear;

    &:hover {
      color: #fff;
      background-color: $color-main;
    }
  }

  &__img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &__descr {
    font-size: 14px;
    line-height: 1.4;
    color: #24383b;
  }
}

@media screen and (min-width: 993px) {
  .content-payment__descr {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .pay-info__layout {
    background: right 10% bottom / 140px auto no-repeat url(/assets/img/pay-man-sm.png),
              #f1f9f5 center / cover no-repeat url(/assets/img/pay-bg.png);
  }
}

@media screen and (max-width: 992px) {
  .payment__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .payment__item:nth-child(2) {
    order: 2;
  }
}

@media screen and (max-width: 820px) {
  .pay-info__descr {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .payment__list {
    margin-top: 35px;
    grid-template-rows: repeat(3, 1fr);
  }

  .payment__item {
    padding: 20px;
  }

  .pay-info__title {
    font-weight: 500;
  }

  .pay-info__descr p {
    font-size: 12px;
  }

  .pay-info__descr p:nth-child(3) {
    max-width: 345px;
  }

  .pay-info__layout {
    background: right 10% bottom / 170px auto no-repeat url(/assets/img/pay-man-sm.png), #f1f9f5 center / cover no-repeat url(/assets/img/pay-bg.png);
  }

  .content-payment__header {
    display: contents;
  }

  .content-payment__img {
    order: -1;
  }

  .content-payment__title {
    margin-top: 20px;
    font-size: 20px;
  }

  .content-payment__descr {
    margin-top: 10px;
    flex: 1 0 auto;
    font-size: 12px;
  }

  .content-payment__btn {
    width: fit-content;
    margin-top: 10px;
    margin-left: 0;
    order: 2;

  }
}

@media screen and (max-width: 630px) {
  .pay-info__layout {
    padding-bottom: 120px;
    background: right 10px bottom / 120px auto no-repeat url(/assets/img/pay-man-sm.png), #f1f9f5 left 40% center / cover no-repeat url(/assets/img/pay-bg.png);
  }
}

@media screen and (max-width: 576px) {
  .payment__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .payment__item {
    position: relative;
    z-index: 0;
    padding-right: 15px;
  }

  .content-payment__img {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 15px;
  }

  .content-payment__title {
    margin-top: 0;
    font-size: 17px;
  }

  .pay-info__descr p:nth-child(3) {
    max-width: 210px;
  }

  .content-payment__btn {
    margin-top: 15px;
  }
}
