.products {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 60px;
  }

  &__text {
    margin-right: auto;
  }

  &__descr {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.24;
    letter-spacing: 0.02em;
    color: #24383b;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .splide__track {
    margin-top: 60px;

    & + .btn-lg {
      display: block;
      max-width: 300px;
      margin: 20px auto 0;
    }
  }
}

@media screen and (min-width: 577px) {
  .products .splide__track + .btn-lg {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .products__header {
    gap: 40px;
  }
  
  .products__descr {
    margin-top: 12px;
  }

  .products .splide__track {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .products__header {
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 20px;
  }

  .products__btns {
    gap: 11px;
  }

  .products__descr {
    margin-top: 9px;
  }

  .products__text {
    flex-shrink: 0;
  }
}

@media screen and (max-width: 576px) {
  .products__header {
    flex-wrap: wrap;
    gap: 10px;
  }

  .products__title {
    max-width: 220px;
  }

  .products__text {
    display: contents;

  }

  .products__descr {
    order: 2;
    margin-top: 0;
    font-size: 13px;
  }

  .products__btns + .btn-lg {
    display: none;
  }
}
