.banner__slider_promotions {
  margin-top: 35px;
  margin-bottom: 40px;
}

.proposition {
  color: $color-light;

  &__content {
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    border-radius: $br-lg;
    background: center / contain no-repeat url("/assets/img/proposition-img.png"),
                $color-main center / cover url("/assets/img/proposition-bg.png");

    &_empty {
      background: $color-main center / cover url("/assets/img/proposition-bg.png");

      .proposition__title {
        max-width: 500px;
        font-size: 32px;
      }

      .proposition__descr {
        margin-top: 20px;
        max-width: 480px;
        font-size: 11px;
        color: #fff;
        
        a {
          color: #fff;
          font-size: 11px;
          font-weight: 400;
          text-decoration: underline;
        }
      }
    }
  }

  &__title {
    max-width: 320px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    color: $color-light;
  }

  &__descr {
    max-width: 352px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
  }

  &__form {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .form-input {
      width: 100%;
      padding: 17px 20px;
      border: none;
      border-radius: $br-btn;
      font-size: 14px;
      color: #24383b;
    }

    .form-text {
      font-size: 12px;
      line-height: 1.2;
      text-align: center;
      color: rgba(255, 255, 255, 0.75);

      a {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.75);
        text-decoration: underline;
      }
    }
  }

  &__btns {
    max-width: 507px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 15px;

    .btn-light {
      max-width: 308px;
    }
  }

  .btn {
    width: 100%;
    padding: 17px 30px;
    border-radius: $br-btn;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.16em;
  }
}
