.products {
  &__header {
    display: flex;
    align-items: center;
    column-gap: 60px;
  }

  &__descr {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.24;
    letter-spacing: 0.02em;
    color: #24383b;
  }

  &__btns {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .splide__track {
    margin-top: 60px;
  }
}
