* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sprite {
  display: none;
}

body {
  font-family: 'Onest', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: $color-text;
}

section {
  padding: 35px 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1190px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.25;
}

h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  color: #272727;
}

.top-control {
  position: fixed;
  z-index: 15;
  right: 30px;
  bottom: 70px;
  width: 68px;
  height: 68px;
  border-radius: 15px;
  background-color: $color-main;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 37C10.5 37.8284 11.1716 38.5 12 38.5C12.8284 38.5 13.5 37.8284 13.5 37H10.5ZM13.0607 0.93934C12.4749 0.353553 11.5251 0.353553 10.9393 0.93934L1.3934 10.4853C0.807611 11.0711 0.807611 12.0208 1.3934 12.6066C1.97919 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.93934ZM13.5 37V2H10.5V37H13.5Z' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 39px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s linear;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
