body {
  font-family: 'Onest', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: $color-text;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1190px;
}
