@font-face {
  font-family: "Onest";
  src: local("Onest Regular"), local("Onest-Regular"), url(../fonts/OnestRegular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: local("Onest Medium"), local("Onest-Medium"), url(../fonts/OnestMedium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: local("Onest SemiBold"), local("Onest-SemiBold"), url(../fonts/OnestSemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: local("Onest Bold"), local("Onest-Bold"), url(../fonts/OnestBold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: local("Onest Light"), local("Onest-Light"), url(../fonts/OnestLight.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
a,
button {
  font-family: "Onest", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1f2029;
}

.btn-lg {
  padding: 15px 45px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  border: 1px solid #03a753;
  border-radius: 72px;
  text-transform: uppercase;
}

.slider-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  background-color: #f1f9f5;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7071 10.2929L1.70709 0.292862C1.56723 0.153017 1.38905 0.0577853 1.19507 0.0192078C1.00109 -0.0193696 0.800023 0.000440337 0.6173 0.0761322C0.434577 0.151824 0.278403 0.279998 0.168525 0.444448C0.0586466 0.608897 -4.96765e-07 0.802236 0 1.00002V21C4.27744e-06 21.1978 0.0586534 21.3911 0.168532 21.5556C0.278411 21.72 0.434585 21.8482 0.617306 21.9239C0.800026 21.9996 1.00109 22.0194 1.19507 21.9808C1.38905 21.9422 1.56723 21.847 1.70709 21.7072L11.7071 11.7072C11.8 11.6143 11.8736 11.5041 11.9239 11.3827C11.9741 11.2614 12 11.1313 12 11C12 10.8687 11.9741 10.7386 11.9239 10.6173C11.8736 10.496 11.8 10.3857 11.7071 10.2929Z' fill='%2303A753'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 22px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.slider-btn:hover {
  background-color: #03a753;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7071 10.2929L1.70709 0.292862C1.56723 0.153017 1.38905 0.0577853 1.19507 0.0192078C1.00109 -0.0193696 0.800023 0.000440337 0.6173 0.0761322C0.434577 0.151824 0.278403 0.279998 0.168525 0.444448C0.0586466 0.608897 -4.96765e-07 0.802236 0 1.00002V21C4.27744e-06 21.1978 0.0586534 21.3911 0.168532 21.5556C0.278411 21.72 0.434585 21.8482 0.617306 21.9239C0.800026 21.9996 1.00109 22.0194 1.19507 21.9808C1.38905 21.9422 1.56723 21.847 1.70709 21.7072L11.7071 11.7072C11.8 11.6143 11.8736 11.5041 11.9239 11.3827C11.9741 11.2614 12 11.1313 12 11C12 10.8687 11.9741 10.7386 11.9239 10.6173C11.8736 10.496 11.8 10.3857 11.7071 10.2929Z' fill='%23ffffff'/%3E%3C/svg%3E");
}
.slider-btn.prev-btn {
  transform: scaleX(-1);
}

.card__btn {
  display: block;
  margin: 15px auto 0;
  padding: 14px 35px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-color: #03a753;
  border-radius: 72px;
}

.form-btn {
  width: 100%;
  padding: 19px 30px;
  border-radius: 72px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.12em;
  color: #fff;
  background-color: #24383b;
}

.card {
  width: 260px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #f1f9f5;
}
.card img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__body {
  padding: 20px;
}
.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.card .new-price {
  font-size: 26px;
  line-height: 1.2;
  color: #03a753;
}
.card .new-price .text-gray {
  font-weight: 400;
  font-size: 14px;
  color: #99a3ae;
}
.card .old-price {
  font-size: 17px;
  color: #99a3ae;
}
.card .discount {
  font-size: 18px;
  color: #f04a4a;
}
.card__title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}
.card__info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.card .rating {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.card .rating img {
  width: 16px;
  height: auto;
}
.card .rating__value {
  font-weight: 500;
  font-size: 15px;
  color: #8e8e8e;
}
.card .review {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.card .review img {
  width: 15px;
  height: auto;
}
.card .review__value {
  font-weight: 500;
  font-size: 15px;
  color: #8e8e8e;
}
.card__link {
  display: block;
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000;
}

.comment {
  padding: 25px 30px;
  border-radius: 10px;
  background-color: #F1F9F5;
}
.comment .rating {
  display: flex;
  align-items: center;
  gap: 15px;
}
.comment .rating__progress {
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment .rating__icon {
  width: 12px;
  height: 12px;
  fill: #dbdbdb;
}
.comment .rating__icon.active {
  fill: #f3c54e;
}
.comment .rating__grade {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #faa500;
}
.comment .rating__source {
  margin-left: auto;
  width: 32px;
  height: 32px;
  -o-object-fit: fill;
     object-fit: fill;
}
.comment .author {
  display: flex;
  align-items: center;
  gap: 15px;
}
.comment .author__img {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: white;
}
.comment .author__name {
  font-size: 23px;
  line-height: 1.2;
  color: #272727;
}
.comment__text {
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.5;
  color: #24383b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Onest", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #1f2029;
}

section {
  padding: 35px 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1190px;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  color: #272727;
}

.top-control {
  position: fixed;
  z-index: 15;
  right: 30px;
  bottom: 70px;
  width: 68px;
  height: 68px;
  border-radius: 15px;
  background-color: #03a753;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 37C10.5 37.8284 11.1716 38.5 12 38.5C12.8284 38.5 13.5 37.8284 13.5 37H10.5ZM13.0607 0.93934C12.4749 0.353553 11.5251 0.353553 10.9393 0.93934L1.3934 10.4853C0.807611 11.0711 0.807611 12.0208 1.3934 12.6066C1.97919 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.93934ZM13.5 37V2H10.5V37H13.5Z' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 39px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.header {
  padding: 40px 0 0;
}
.header__top {
  display: flex;
  align-items: center;
}
.header__bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.header__btns {
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__call {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .call__link {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #1f2029;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header .call-back__btn {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #03a753;
  text-decoration: underline;
}

.nav {
  display: flex;
}
.nav__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.nav__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #1f2029;
}

.call__img {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 50%;
}
.call__img .call__icon {
  width: 12px;
  height: 12px;
  fill: #03a753;
}

.doll {
  margin-left: 15px;
}

.katalog-link {
  margin-left: 20px;
  padding: 13px 12px 13px 42px;
  color: #fff;
  background-color: #03a753;
  background-image: url("../img/svg/book.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;
  border-radius: 4px;
}

.search {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 295px;
  line-height: 0;
}
.search__input {
  width: 100%;
  max-width: 295px;
  padding: 10px;
  padding-left: 45px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1;
  background-color: #f8f8f8;
  box-sizing: border-box;
}
.search__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(31, 32, 41, 0.25);
}
.search__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(31, 32, 41, 0.25);
}
.search__btn {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 50%;
  z-index: 5;
  background: center/contain no-repeat url("../img/svg/search.svg");
  transform: translateY(-50%);
}

.wishlist {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.wishlist__icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishlist__quantity {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #f22929;
  transform: translate(50%, -50%);
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}
.wishlist__text {
  color: #1f2029;
}

.cart {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.cart__icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__quantity {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #f22929;
  transform: translate(50%, -50%);
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}
.cart__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 3px;
}
.cart__price {
  font-weight: 500;
  font-size: 9px;
  color: #7a7a7a;
}

.account {
  width: auto;
  height: 20px;
  padding-left: 30px;
  background: 0 center/contain no-repeat url("../img/svg/user.svg");
}

.banner {
  padding-top: 25px;
  padding-bottom: 0;
}
.banner .splide__slide {
  height: 370px;
  padding: 65px 106px 40px;
  display: inline-block;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-sizing: border-box;
}
.banner .splide__pagination {
  left: 105px;
  right: inherit;
  bottom: 45px;
  padding: 0;
  justify-content: start;
  gap: 12px;
}
.banner .splide__pagination li {
  line-height: 0;
}
.banner .splide__pagination__page {
  width: 12px;
  height: 12px;
  margin: 0;
  background: rgba(255, 255, 255, 0.1450980392);
  opacity: 1;
}
.banner .splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1);
}
.banner .splide__arrow {
  width: 30px;
  height: 30px;
  opacity: 1;
  background: #fff;
}
.banner .splide__arrow:hover {
  opacity: 1;
}
.banner .splide__arrow svg {
  width: auto;
  height: 16px;
  fill: #03a753;
}
.banner__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #03a753;
  background-color: #fff;
}
.banner__btn_next {
  right: 20px;
}
.banner__btn_prev {
  left: 20px;
}
.banner__btn::after {
  font-size: 16px;
}
.banner__title {
  max-width: 475px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.23;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
}
.banner__text {
  display: inline-block;
  max-width: 280px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.23;
  letter-spacing: 0.02em;
}
.banner__text_sm {
  max-width: 160px;
}
.banner__link {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 40px;
  border-radius: 600px;
  font-size: 18px;
  background-color: #fff;
  text-align: center;
}

.attention {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: rgb(36, 56, 59);
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}
.advantages__btn {
  display: inherit;
  padding-right: 25px;
  margin: 25px auto 0;
  font-weight: 400;
  font-weight: 1.4;
  color: #03a753;
  text-transform: uppercase;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.5 6L12 1' stroke='%2303A753' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
  background-position: right center;
  background-size: 13px 8px;
  background-repeat: no-repeat;
}
.advantages__btn:not(.show) {
  display: none;
}

.advantage-card {
  max-width: 260px;
  padding: 23px 18px 20px;
  text-align: left;
  background-color: #f1f9f5;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-blend-mode: multiply;
}
.advantage-card:nth-child(1) {
  background-image: url("../img/advantages/0.jpg");
}
.advantage-card:nth-child(2) {
  background-image: url("../assets/img/advantages/1.jpg");
}
.advantage-card:nth-child(3) {
  background-image: url("../assets/img/advantages/2.jpg");
}
.advantage-card:nth-child(4) {
  background-image: url("../assets/img/advantages/3.jpg");
}
.advantage-card:not(.show) .advantage__descr {
  display: none;
}
.advantage__header {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.advantage__icon {
  flex-shrink: 0;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #03a753;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
}
.advantage__descr {
  margin-top: 20px;
}
.advantage__list {
  list-style-position: inside;
}
.advantage__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
}
.advantage__item:not(:first-child) {
  margin-top: 9px;
}
.advantage__item .text-black {
  font-weight: 600;
}

.category {
  padding-top: 45px;
}
.category__header {
  display: flex;
  justify-content: space-between;
}
.category__list {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}
.category__item {
  width: 360px;
  height: 240px;
  padding: 35px 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: left;
  border-radius: 20px;
  background-color: #f1f9f5;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}
.category__item:nth-child(1) {
  background-image: url("../img/category/0.png");
}
.category__item:nth-child(2) {
  background-image: url("../img/category/1.png");
}
.category__item:nth-child(3) {
  background-image: url("../img/category/2.png");
}

.products__header {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.products__descr {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.02em;
  color: #24383b;
}
.products__btns {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.products .splide__track {
  margin-top: 60px;
}

.discount__header {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.discount__btns {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.discount .splide__track {
  margin-top: 20px;
}

.all-discounts {
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
  color: #03a753;
}

.discount__item {
  height: 240px;
  padding: 35px 40px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: left;
  background-color: #f1f9f5;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.discount__item span {
  max-width: 200px;
}

.catalog-download {
  padding-top: 0;
}
.catalog-download .content {
  height: 190px;
  padding: 30px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #03a753 center/contain no-repeat url("../img/catalog-download-bg.jpg");
  border-radius: 15px;
}
.catalog-download .content img {
  width: 130px;
  height: auto;
  transform: rotate(14.83deg);
}
.catalog-download .title {
  max-width: 560px;
  font-size: 40px;
  line-height: 1.25;
  color: #fff;
}
.catalog-download .subtitle,
.catalog-download .subtitle__link {
  font-size: 11px;
  line-height: 1.4;
  color: #fff;
}
.catalog-download .subtitle__link {
  text-decoration: underline;
}
.catalog-download__form {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.catalog-download__form input {
  padding: 20px 25px;
  color: #24383b;
  background-color: #fff;
  border: none;
  text-align: center;
  border-radius: 72px;
}
.catalog-download__form button {
  width: 100%;
  padding: 23px 25px;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  background-color: #24383b;
  border-radius: 72px;
}

.comments {
  color: #24383b;
}
.comments__title {
  text-align: center;
  color: #272727;
}
.comments__descr {
  max-width: 365px;
  margin: 20px auto 0;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
.comments .splide__track {
  margin-top: 35px;
}
.comments__btns {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.comments__btns .btn-lg {
  color: #fff;
  background-color: #03a753;
}
.comments__btns .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.comments__btns .social-links .social-link {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid #03a753;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments__btns .social-links .social-link img {
  width: 31px;
  height: auto;
}

.articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles__body {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.articles .article {
  border-radius: 10px;
  background-color: #f1f9f5;
}
.articles .article__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles .article__body {
  padding: 30px 30px 35px;
}
.articles .article__day {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #03a753;
}
.articles .article__title {
  margin-top: 15px;
  max-width: 210px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
}
.articles .article__link {
  display: inline-block;
  margin-top: 30px;
  padding-right: 25px;
  font-weight: 700;
  font-size: 13px;
  color: #03a753;
  text-transform: uppercase;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.35355 5.64668L1.35355 0.646675C1.28362 0.576753 1.19452 0.529137 1.09753 0.509848C1.00054 0.490559 0.900011 0.500464 0.80865 0.53831C0.717289 0.576156 0.639201 0.640243 0.584262 0.722468C0.529323 0.804693 0.5 0.901362 0.5 1.00025L0.5 11.0003C0.500002 11.0991 0.529327 11.1958 0.584266 11.278C0.639206 11.3603 0.717293 11.4243 0.808653 11.4622C0.900013 11.5 1.00054 11.5099 1.09753 11.4906C1.19452 11.4714 1.28362 11.4237 1.35355 11.3538L6.35355 6.35383C6.39998 6.3074 6.43681 6.25227 6.46194 6.19161C6.48707 6.13094 6.50001 6.06592 6.50001 6.00025C6.50001 5.93459 6.48707 5.86956 6.46194 5.8089C6.43681 5.74823 6.39998 5.69311 6.35355 5.64668Z' fill='%2303A753'/%3E%3C/svg%3E");
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 7px 12px;
  will-change: background-position;
  transition: background-position 0.3s linear;
}
.articles .article__link:hover {
  background-position: right 0 center;
}

.proposition {
  padding-top: 0;
  color: #fff;
}
.proposition__content {
  padding: 30px 45px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  background: center/contain no-repeat url("../img/proposition-img.png"), #03a753 center/cover url("../img/proposition-bg.png");
}
.proposition__title {
  max-width: 320px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
}
.proposition__descr {
  max-width: 320px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}
.proposition__form {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.proposition__form .form-input {
  width: 100%;
  padding: 17px 20px;
  border: none;
  border-radius: 72px;
  font-size: 14px;
  color: #24383b;
}
.proposition__form .form-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}
.proposition__form .form-text a {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}

.footer {
  padding-top: 45px;
  background-color: #f1f9f5;
}/*# sourceMappingURL=style.css.map */